{% extends 'plenary-speakers/_plenary.html' %}
{% set name='albert' %}

{% block bio %}
<!-- from http://vw.indiana.edu/netsci06/bios/bio-alberts.doc -->
Reka Albert is an Assistant Professor of Physics, and a member of the Huck
Institutes for the Life Sciences, at the Pennsylvania State University.  She
received her Ph.D. in Physics from the University of Notre Dame (2001), working
with Prof. Albert-Laszlo Barabasi.
<br/>
Prior to joining Penn State in 2003, Dr. Albert did postdoctoral research in
mathematical biology with Prof. Hans G. Othmer. Albert is a theorist who works
on elucidating biological regulatory networks at the molecular and cellular
level. Before turning to modeling biological networks, Dr. Albert's research
focused on the structural properties of complex networks, and she co-authored a
series of influential articles on the subject.
<br/>
Dr. Albert is a member of the American Physical Society and the Society for
Mathematical Biology. She serves on the Advisory Board of the journal Chaos
(2004 - 2007), on the Board of Governors of the Mathematical Biosciences
Institute at the Ohio State University (2006 - 2008) and as a peer reviewer for
more than 35 journals.
<br/>
She was a recipient of an Eli and Helen Shaheen Graduate School Award (2001)
and a Sloan Research Fellowship (2004 - 2006).
{% endblock %}
