{% extends 'plenary-speakers/_semi-plenary.html' %}

{% block plenaryspeaker %}

<h2>The spatio-temporal spread of drug-resistant tuberculosis</h2>
<h3> Julien Arino  (University of Manitoba)</h3>

<blockquote>
  <p><b>Abstract:</b> Tuberculosis is, after HIV/AIDS, the second largest cause
    of infectious disease induced death. It is estimated that in 2011, it
    killed 1.4 million people worldwide. Tuberculosis is also a disease of
    poverty, as contributing factors to its spread include poor and overcrowded
    living conditions, poor health conditions, etc. As a consequence, over 95%
    of new infections and deaths by tuberculosis occur in developping
    countries. </p> <p> We formulate a model for tuberculosis in a single
    population that includes three strains: a drug-sensitive strain, MDR-TB and
    XDR-TB. We study the model mathematically and show, in particular, that the
    bifurcation structure of the whole model is governed by the behaviour of
    the XDR-TB strain. We then extend the model to a metapopulation setting, in
    which each country is a vertex in a multi-digraph, endowed with a system
    for the single population case. Weighted arcs between the vertices
    represent the rate of travel of individuals between the countries. We study
    the resulting large-scale system. Finally, we proceed to numerical
    experiments with realistic travel and population data. </p> <p> This is a
    joint work with K. Khan (University of Manitoba) and I. Soliman (St
    Michael's Hospital, Toronto).</p>
</blockquote>

<img style="float:right; margin: 4px;" style="max-width:200" src="/static/images/plenary/arino.jpg" />

<p> Julien Arino received his PhD in 2001 from Université Joseph Fourier in
  Grenoble, France in affiliation with INRIA Sophia Antipolis and the
  Villefranche-sur-mer Oceanological Observatory.  He held postdoctoral
  fellowships at the University of Victoria (Jan 2001-Dec 2002) and McMaster
  University (Jan 2003-Jun 2005). </p>

<p>Since 2005, he has been a faculty member at the University of Manitoba.  He
  is currently a member of the Bio.Diaspora Project, which is based at St
  Michael's Hospital (Toronto), and the Centre for Disease Modelling, which is
  hosted at York University. </p>

{% endblock %}
