{% extends 'plenary-speakers/_plenary.html' %}
{% set name='bielecki' %}

{% block bio %}
Tomasz Bielecki is a Professor of Applied Mathematics and the Director of the
Master of Mathematical Finance program at Illinois Institute of Technology. He
received his PhD degree from the Warsaw School of Economics. Prof. Bielecki’s
fields of expertise include Stochastic Analysis, Mathematical Finance, and
Credit Risk Modeling. He is an Associate Editor of six well-known journals in
areas of Mathematics and Finance, including Mathematical Finance and
International Journal of Theoretical and Applied Finance. Prof. Bielecki is a
co-author of three books in the area of Credit Risk Modeling and Financial
Mathematics including his most recent book “Counterparty Risk and Funding: A
Tale of Two Puzzles” co-authored with Stéphane Crépey and Damiano Brigo.
{% endblock %}
