{% extends 'plenary-speakers/_plenary.html' %}
{% set name='bielecki' %}

{% block title %}
Dependence between components of multivariate conditional Markov chains: Markov
consistency and Markov Copulae
{% endblock %}

{% block abstract %}
Modeling of evolution of dependence between processes occurring in financial
markets is important. Typically, one can identify marginal statistical
properties of individual processes, and then one is confronted with the task of
modeling dependence between these individual processes so that the marginal
properties are obeyed. We have been advocating, for some time now, to address
this modeling problem via the theory of Markov consistency and Markov copulae.
<br/>
In this talk we shall examine the problem of existence and construction of a
non-trivial multivariate conditional Markov chain with components that are
given conditional Markov chains. In this regard we shall give sufficient and
necessary conditions, in terms of relevant conditional expectations, for a
component of a multivariate Markov chain to be a Markov chain in the filtration
of the entire chain &mdash; a property called strong Markov consistency, as
well as in its own filtration &mdash; a property called weak Markov
consistency. These characterization results are proved via analysis of the
semi-martingale structure of the chain.
<br/>
Several financial applications will be indicated.
{% endblock %}

{% block bio %}
Tomasz Bielecki is a Professor of Applied Mathematics and the Director of the
Master of Mathematical Finance program at Illinois Institute of Technology. He
received his PhD degree from the Warsaw School of Economics. Prof. Bielecki’s
fields of expertise include Stochastic Analysis, Mathematical Finance, and
Credit Risk Modeling. He is an Associate Editor of six well-known journals in
areas of Mathematics and Finance, including Mathematical Finance and
International Journal of Theoretical and Applied Finance. Prof. Bielecki is a
co-author of three books in the area of Credit Risk Modeling and Financial
Mathematics including his most recent book “Counterparty Risk and Funding: A
Tale of Two Puzzles” co-authored with Stéphane Crépey and Damiano Brigo.
{% endblock %}
