{% extends 'plenary-speakers/_plenary.html' %}
{% set active_page = 'plenary-speakers' -%}
{% block plenaryspeaker %}

<h2>Models, Mathematics, and Markets - Is the Intersection an Empty Set?</h2>
<h3>Peter Carr</h3>  

<blockquote>
  <p>
    <b>Abstract</b>: Did Albert Einstein ever write that compound interest is
    the most powerful force in the universe?  I have my doubts, but the
    financial crisis of 2007-8 has left little doubt that mathematical models
    matter for markets.  In this high-level talk, I  will provide a historical
    overview of how mathematics has been used to model markets. 
  </p>
</blockquote>

<img style="float:right; margin: 4px;" width=200 src="/static/images/plenary/carr.jpg" />
<p>
  Dr. Peter Carr is a Managing Director at Morgan Stanley with over 15 years of
  experience in the financial industry. He is currently the Global Head of
  Market Modeling, overseeing several quantitative teams spread over three
  continents. He also presently serves as the the Executive Director of the
  Math Finance program at NYU's Courant Institute, the Treasurer of the
  Bachelier Finance Society, and a trustee for the Museum of Mathematics in New
  York. Prior to joining the financial industry, Dr.  Carr was a finance
  professor for 8 years at Cornell University, after obtaining his PhD from
  UCLA in 1989. He has over 75 publications in academic and industry-oriented
  journals and serves as an associate editor for 8 journals related to
  mathematical finance. He was selected as Quant of the Year by Risk Magazine
  in 2003 and Financial Engineer of the Year by IAFE/Sungard in 2010. For the
  last two years, Dr.  Carr has served on the CFTC's Technology Advisory
  Committee and was  listed in Institutional Investor's Tech 50, an annual
  listing of the 50 most influential people in financial technology.
</p>

{% endblock %}
