{% extends 'plenary-speakers/_plenary.html' %}
{% set name='liu' %}

{% block bio %}
<!-- from http://www.tam.northwestern.edu/wkl/_wkl/htm/contributions.htm -->
Professor Wing Kam Liu has made fundamental, innovative contributions to the
theory and methodologies of multiscale simulation-based engineering and science
and has applied a spectrum of atomistic, quantum, and continuum strategies
towards the understanding and design of nano-materials, biological processes,
and recently the use of organic and inorganic materials for drug delivery
device, bio-sensing, and other diagnostic and therapeutic applications. He has
published over 350 journal and proceedings articles. The impact of his research
contributions is attested by the large number of citations to his work (as of
August 2012, 11,000+ according to Institute for Scientific Information (ISI)
with an H-factor of 54; 20,000 according to Google with an H-factor of 67). In
2001 the Institute for Scientific Information (ISI) identified Professor Liu as
“one of the most highly cited, influential researchers in Engineering, and an
original member of the highly cited researchers database.”  His research
results have been applied in nanomechanics and materials, materials design,
surface engineering, manufacturing processes, computational fluid dynamics,
fluid-structure interaction, bio- and nano-fluidics and medicine, biological
cellular systems, safety analysis of nuclear reactors, seismic analysis, and
probabilistic fracture and fatigue problemssor Wing Kam Liu has made
fundamental, innovative contributions to the theory and methodologies of
multiscale simulation-based engineering and science and has applied a spectrum
of atomistic, quantum, and continuum strategies towards the understanding and
design of nano-materials, biological processes, and recently the use of organic
and inorganic materials for drug delivery device, bio-sensing, and other
diagnostic and therapeutic applications. He has published over 350 journal and
proceedings articles. The impact of his research contributions is attested by
the large number of citations to his work (as of August 2012, 11,000+ according
to Institute for Scientific Information (ISI) with an H-factor of 54; 20,000
according to Google with an H-factor of 67). In 2001 the Institute for
Scientific Information (ISI) identified Professor Liu as “one of the most
highly cited, influential researchers in Engineering, and an original member of
the highly cited researchers database.”  His research results have been applied
in nanomechanics and materials, materials design, surface engineering,
manufacturing processes, computational fluid dynamics, fluid-structure
interaction, bio- and nano-fluidics and medicine, biological cellular systems,
safety analysis of nuclear reactors, seismic analysis, and probabilistic
fracture and fatigue problems.
{% endblock %}
