{% extends 'plenary-speakers/_plenary.html' %}
{% set name='mallat' %}

{% block bio %}
<!-- from http://en.wikipedia.org/wiki/St%C3%A9phane_Mallat -->
Stéphane G. Mallat (born in Paris, France) made some fundamental contributions
to the development of wavelet theory in the late 1980s and early 1990s. He has
also done work in applied mathematics, signal processing, music synthesis and
image segmentation.
<br/>
Specifically, he collaborated with Yves Meyer to develop the Multiresolution
Analysis (MRA) construction for compactly supported wavelets, which made the
implementation of wavelets practical for engineering applications by
demonstrating the equivalence of wavelet bases and conjugate mirror filters
used in discrete, multirate filter banks in signal processing. He also
developed (with Sifen Zhong) the Wavelet transform modulus maxima method for
image characterization, a method that uses the local maxima of the wavelet
coefficients at various scales to reconstruct images.
<br/>
He introduced the scattering transform that constructs invariance for object
recognition purposes. Mallat is the author of <i>A Wavelet Tour of Signal
Processing</i>, a common text in some applied mathematics and engineering
courses.
<br/>
He has taught at New York University, Massachusetts Institute of Technology,
Tel Aviv University, École polytechnique and at the Ecole normale supérieure.
{% endblock %}
