{% extends 'plenary-speakers/_plenary.html' %}

{% block plenaryspeaker %}
{% set name='yi' %}

<h2>TBA</h2>

<h3>{{ plenary[name][0] }} {{ plenary[name][1] }} ({{ plenary[name][2] }})</h3>

<div class='abstract'>
  TBA
</div>

{% if plenary[name][3] %}
<img class="plenary-img" src="/static/images/plenary/{{ plenary[name][3] }}"></img>
{% endif %}

<div class="bio">
  Dr. Yingfei Yi is a Killam Memorial Chair in the Department of
  Mathematical and Statistical Sciences, University of Alberta. Prior to
  this, he was a Full Professor in the School of Mathematics, Georgia Tech.
</div>

{% endblock %}
