{% extends 'plenary-speakers/_plenary.html' %}
{% set name='abgrall' %}

{% block bio %}
Rémi Abgrall is a former student of Ecole Normale Supérieure de Saint Cloud.
After his PhD, he has been engineer at ONERA, then research scientist at INRIA.
Since January 2014, he is professor at the University of Zürich, Institute of
Mathematics, after having been Professor in the University of Bordeaux
(Institut Polytechnique de Bordeaux)  since 1996 and in secondment at INRIA
from 2008 till the end of 2013. He has been awarded an Advanced Research Grant
from the ERC in December 2008 and has been invited speaker at the
International Conference of Mathematicians (ICM 2014) in Seoul. He is associate
editor of several international journals, including the Journal of
Computational Physics, Mathematics of Computation, Computers and Fluids, the
Journal of Scientific Computing. He is also co-chief editor of the
International Journal on Numerical Methods in Fluids. His research is about
efficient algorithms for the simulation of compressible materials (single
fluids, multiphase, interface problems, compressible solids) using high order
schemes designed for unstructured meshes. He also has interest in (curved)
meshes generation for high order scheme and model reduction for transport
dominated problems with and without discontinuities in the solution.
{% endblock %}
