{% extends 'plenary-speakers/_plenary.html' %}
{% set name='albert' %}

{% block title %}
Graph analysis and discrete dynamic modeling elucidates the outcomes of within-cell networks
{% endblock %}

{% block abstract %}
Interaction networks formed by gene products form the basis of cell behavior
(growth, survival, apoptosis, movement).  Experimental advances in the last
decade helped uncover the structure of many molecular-to-cellular level
networks, such as protein interaction or metabolic networks. These advances
mark the first steps toward a major goal of contemporary biology: to map out,
understand and model in quantifiable terms the various networks that control
the behavior of the cell. Such an understanding would also allow the
development of comprehensive and effective therapeutic strategies.
<br/>
This talk will focus on my group's recent work on discrete dynamic modeling of
signal transduction networks in various organisms. These models can be
developed from qualitative information yet show a dynamic repertoire that can
be directly related to the real system's outcomes. For example, our model of
the signaling network inside T cells predicted therapeutic targets for the
blood cancer T-LGL leukemia, several of which were  validated experimentally. I
will then present an enriched network representation that includes the
regulatory logic. Extension of existing graph measures and analyses, performed
on this expanded network, allows an efficient way to determine the dynamic
repertoire of the network and to predict manipulations that can stabilize or,
conversely, block, certain outcomes.
{% endblock %}

{% block bio %}
Prof. Reka Albert  received her Ph.D. in Physics from the University of Notre
Dame (2001), working with Prof. Albert-Laszlo Barabasi. She did postdoctoral
research in mathematical biology at the University of Minnesota with Prof. Hans
Othmer. Prof. Albert then joined the Pennsylvania State University, where she
currently is a Professor of Physics with adjunct appointments in the Department
of Biology and the College of Information Science and Technology.  Dr. Albert
works on predictive modeling of biological regulatory networks at multiple
levels of organization.  Her pioneering publications on the structural
heterogeneities of complex networks had a large impact on the field, reflected
in their identification as "Fast breaking paper" and "High impact paper" by
Thomson Reuters. Dr. Albert is a fellow of the American Physical Society, where
she served as a member-at-large in the Division of Biological Physics. She was
a recipient of a Sloan Research Fellowship (2004), an NSF Career Award (2007),
and the Maria Goeppert-Mayer award (2011). Her service to the profession
includes serving on the editorial board of the journals Physical Review E, The
New Journal of Physics, IET Systems Biology, Biophysical Journal, SIAM Journal
of Applied Dynamical Systems and Bulletin of Mathematical Biology, on the
scientific advisory board of the Mathematical Biosciences Istitute at Ohio
State, and as a peer reviewer for more than 35 journals.
{% endblock %}
