{% extends 'plenary-speakers/_semi-plenary.html' %}
{% set name='anco' %}

{% block title %}
Conservation laws of fluid flow on Riemannian manifolds
{% endblock %}

{% block abstract %}
All local conservation laws of kinematic type on moving domains and moving
surfaces for inviscid compressible fluid flow on curved Riemannian manifolds
are derived. In particular, any such conservation laws will be found that hold
only for (1) special dimensions of the manifold or the surface; (2) special
conditions on the geometry of the manifold or the surface; (3) special
equations of state. Importantly, the general form of these kinematic
conservation laws will be allowed to depend on the intrinsic Riemannian metric,
volume form, and curvature tensor of the manifold or the surface. All kinematic
constants of motion that arise from the resulting kinematic conservation laws
also will be determined. These results generalize earlier work on finding all
kinematic local conservation laws on moving domains for inviscid compressible
fluid flow in n-dimensional Euclidean space.
{% endblock %}

{% block bio %}
Stephen Anco is a full professor in the Department of Mathematics &amp; Statistics
at Brock University, Canada. He is a co-author of two books in the Springer
Applied Mathematics Series and has published over 60 papers. His research
encompasses several areas of mathematical physics, including classical gauge
field theory, General Relativity, symmetries and conservation laws of
differential equations, integrable systems, and geometric curve flows. At
Brock, he has served as Department Chair from 2009 to 2012 and Graduate Program
Director from 2005 to 2007.
{% endblock %}
