{% extends 'plenary-speakers/_semi-plenary.html' %}
{% set name='bennett' %}

{% block title %}
Computing elliptic curves of fixed conductor
{% endblock %}

{% block abstract %}
I will discuss new, old and older still methods for computing elliptic curves
with bad reduction outside given sets of primes. Applying these, we are now
able to find models for all elliptic curves over the rationals with prime
conductor bounded by 10^10 and, conjecturally, by 10^12. I will then mention
extensions of these results to the case of more general conductors and to
curves over number fields. This is a joint work with Andrew Rechnitzer.
{% endblock %}
