{% extends 'plenary-speakers/_plenary.html' %}
{% set name='fischer' %}


{% block bio %}
Paul Fischer is a Blue Waters Professor at the University of Illinois,
Urbana-Champaign  in the departments of Computer Science and Mechanical
Science &amp; Engineering.  He received his Ph.D. in mechanical engineering
from MIT and was a post-doc in applied mathematics at Caltech, where he
was the first Center for Research in Parallel Computation fellow.  His
work is in the area of high-order numerical methods for partial
differential equations, scalable linear solvers, and high-performance
computing.  He is the architect of the open source SEM-based fluid
dynamics/heat transfer code Nek5000, which has been recognized with the
Gordon Bell Prize in high-performance computing and which has successfully
scaled beyond a million processes.  Nek5000 is currently used by over 200
researchers for a variety of applications in turbulence and heat transfer.
{% endblock %}
