{% extends 'plenary-speakers/_semi-plenary.html' %}
{% set name='hurd' %}

{% block bio %}
Tom Hurd is Professor of Mathematics at McMaster University. He turned to the
mathematical study of financial markets in the late 1990s, following his
earlier research in mathematical physics. Since then he has written on a wide
range of financial topics, with publications in portfolio theory, interest rate
modelling, and credit risk. Over the past few years, his work has focussed on
the mathematical modelling of systemic risk, that is, the stability of
financial networks. His new book entitled "Contagion! The Spread of Systemic
Risk in Financial Networks” is soon to be published. He has delivered a number
of minicourses on this subject and, most recently, a one-semester PhD course at
ETH Zurich. In addition to cofounding the M-Phimac Master program in Financial
Mathematics at McMaster, which he continues to direct, he has supervised
numerous undergraduate, M.Sc., Ph.D. and Postdoctoral researchers working in
financial mathematics.
{% endblock %}

{% block title %} Modelling the Collapse of Financial Systems {% endblock %}

{% block abstract %}
The list of possible channels of systemic risk (SR) includes correlated asset
shocks, default contagion, funding liquidity contagion and market illiquidity
effects. A number of deliberately simplified modelling frameworks, beginning
with the Eisenberg-Noe 2001 model, aim to reveal the pure contagion effects
that can lead to cascading chains of defaulted and illiquid financial
institutions. It turns out that analytic methods can be brought to bear to
determine the characteristics of such cascades on large random financial
networks (RFN) that have a property we call local tree-like independence (LTI).
In this talk, we review the conceptual basis of these methods in percolation
theory on random graphs, and investigate how to extend them to interesting
models of complex financial networks.
{% endblock %}
