{% extends 'plenary-speakers/_semi-plenary.html' %}
{% set name='kirr' %}

{% block title %}
On long time dynamics in nonlinear wave equations
{% endblock %}

{% block abstract %}
Since the first description in 1834 of the "wave of translation", currently
called soliton, by John Scott Russell, scientist have studied intensely such
particular solutions of nonlinear wave equations i.e., coherent structures that
do not change shape as they propagate. They have been put to good use in
nonlinear optics and telecommunications, and play an important role in
understanding the formation of large waves in oceans and in analyzing large
systems of quantum particles. Moreover their importance in describing the large
time behavior of nonlinear wave models is summarized by the following:
Asymptotic Completeness Conjecture: any initial data of a nonlinear wave
equations evolves into a superposition of coherent structures plus a part that
radiates to infinity. My presentation will summarize both our current knowledge
on existence of coherent structures and recent progress towards solving the
asymptotic completeness conjecture.
{% endblock %}

{% block bio %}
Eduard-Wilhem Kirr is currently an associate professor in the Mathematics
Department at University of Illinois Urbana-Champaign. He obtained his Ph.D. in
Mathematics from University of Michigan in 2002 under the direction of Michael
I. Weinstein and Anthony Bloch and was a Dickson Instructor at University of
Chicago from 2002 to 2005 under the direction of Peter Constantin. During his
graduate studies he was also a summer intern at Bell Laboratories. His main
research interests focus on studying wave propagation and wave interaction
using both theoretical methods and numerical simulations.
{% endblock %}
