{% extends 'plenary-speakers/_plenary.html' %}
{% set name='schreiber' %}

{% block title %}
Species Coexistence in Stochastic Environments: A Mathematical Perspective
{% endblock %}

{% block abstract %}
Stochastic fluctuations in temperature, precipitation and a host of other
environmental factors occur at multiple spatial and temporal scales. As the
survival and reproduction of organisms, whether they be plants, animals, or
viruses, depend on these environmental factors, these stochastic fluctuations
often drive fluctuations in population abundances. This simple observation
leads to a fundamental question in population biology. Namely, “under what
conditions do stochastic environmental fluctuations hinder or facilitate the
maintenance of biodiversity?” This question is particularly pressing in light
of global climate models predicting increasing temporal variation in many
climatic variables over the next century.
</p><p>
One fruitful approach to tackling this question from population biology is the
development and analysis of models accounting for nonlinear feedbacks among
species, population structure, and environmental stochasticity. In this talk, I
will discuss progress in the development of a mathematical theory for
stochastic coexistence where the dynamics of the interacting species are
encoded by random difference equations and coexistence corresponds to the limit
points of empirical measures being bounded away from an extinction set. I will
illustrate the theory with empirical based examples involving checkerspot
butterflies, Kansas prairies, and coastal dunes.
{% endblock %}

{% block bio %}
Sebastian J. Schreiber is a Professor of Ecology and Evolution and member of
the Center of Population Biology at the University of California, Davis. Prior
to coming to Davis, he was an Associate Professor of Mathematics at the College
of William and Mary and Western Washington University. Professor Schreiber’s
research on the development and application of methods in stochastic processes
and nonlinear dynamics to ecology, evolution, and epidemiology has been
supported by grants from the U.S. National Science Foundation, the U.S.
National Oceanic and Atmospheric Administration, the Bureau for Land
Management, and the U.S. Fisheries and Wildlife Service. He has authored nearly
eighty scientific papers in peer-reviewed mathematics and biology journals.
Professor Schreiber is currently on the editorial boards of five research
journals including Ecology and the Journal of Mathematical Biology.
{% endblock %}
