{% extends 'plenary-speakers/_plenary.html' %}
{% set name='zabaras' %}

{% block title %}
An Information Theoretic Approach to Computational Modelling in Engineering and the Sciences
{% endblock %}

{% block abstract %}
Predictive modelling and design of materials gives rise to unique mathematical
and computational challenges including (i) Modelling of hierarchical random
heterogeneous material structures; (ii) Propagating uncertainties in a
quantifiable manner across spatial and temporal length scales (stochastic
coarse graining); (iii) Addressing the curse of stochastic dimensionality; (iv)
Addressing the phenomenology typical of  most materials science models; (v)
Modelling failure and rare events in random media; and many more.
<br/>
We will advocate an information theoretic approach to address some of these
challenges. In particular, we will discuss data-driven models of material
structure, forward uncertainty propagation in high dimensions using limited
data, variational approaches to stochastic coarse graining, and quantifying
epistemic uncertainty when using surrogate models. We will finally address the
importance of using probabilistic graphical models for predictive modelling of
multiscale and multiphysics problems.
<br/>
With synergistic developments in materials physics, computational
mathematics/statistics, and machine learning there is potential for developing
data-driven materials models that allow us to understand where observable
variabilities in properties arise and provide means to control them for
accelerated materials design.
{% endblock %}

{% block bio %}
Nicholas Zabaras received his PhD at Cornell University (1987) in the area of
Theoretical and Applied Mechanics. Upon graduation he joined the faculty of
Engineering at the University of Minnesota. In 1991 he returned to Cornell as a
faculty member of the Sibley School of Mechanical and Aerospace Engineering
where he was also member of various other academic fields including Applied
Mathematics, Materials Science and Engineering and Computational Science and
Engineering. He was the founding director of the Materials Process and Design
Laboratory that integrated materials modelling and design with innovative
mathematical approaches including inverse problems, uncertainty quantification,
robust design, and scientific computing. In the summer of 2014 he joined the
University of Warwick to establish and lead the Warwick Centre for Predictive
Modelling. WCPM is a university wide initiative across many colleges and
departments with emphasis on the integration of computational mathematics,
computational statistics and scientific computing to address modelling and
design of complex systems in the presence of uncertainties. He has received
several awards including a Presidential Young Investigator Award in 1991. He is
Fellow and member of various societies. In 2014, Prof. Zabaras was appointed as
Hans Fisher Senior Fellow at the Institute of Advanced Study at the Technische
Universität München. The same year he received the Royal Society’s Wolfson
Research Merit Award for his work on predictive modelling. He is currently an
Associate Editor of the Journal of Computational Physics and the Editor in
Chief of the International Journal for Uncertainty Quantification.
{% endblock %}
