{% extends 'plenary-speakers/_semi-plenary.html' %}
{% set name='zaccour' %}

{% block title %}Sustainability of Cooperation in Dynamic Games Played over Event Trees{% endblock %}

{% block abstract %}
A well-known problem in dynamic cooperative games is the sustainability of
cooperation over time.  The literature addressed this issue following different
approaches, namely, the design of time-consistent payments, incentive
equilibrium strategies and trigger strategies that deter credibly and
effectively deviation from cooperation.  In this talk, I will apply these
different approaches to dynamic games played over event trees, that is,
stochastic games where the uncertainty is not influenced by players¹ actions
but it is nature¹s decision.  After introducing the main elements of this class
of games, I will introduce node-consistent cooperative payments based on the
Shapley value and imputations in the core as means for sustaining cooperation
over nodes (and time).  Further, I will show how incentive and trigger
strategies can be constructed to strategically support the cooperative
agreement designed at the starting date of the game.
{% endblock %}

{% block bio %}
Georges Zaccour holds the Chair in Game Theory and Management and is a full
professor of Department of Management Sciences at HEC Montréal. He holds a
Ph.D. in management science, an M.Sc. in international business from HEC
Montréal and a licence in mathematics and economics from Université
Paris-Dauphine. He served as the director of GERAD, an interuniversity research
center and the director of marketing department and Ph.D. program at HEC
Montréal. His research areas are differential games, optimal control and
operations research applied to marketing, energy sector and environmental
management, areas in which he has published more than 140 papers and co-edited
thirteen volumes. He coauthors the books Differential Games in Marketing and
Games and Dynamic Games. His research is regularly funded by the Natural
Sciences and Engineering Research Council of Canada. He is the editor-in-chief
of Dynamic Games and Applications and associate editor of the International
Game Theory Review, Environmental Modeling &amp; Assessment, Computational
Management Science, INFOR, and other journals.  He is a fellow of The Royal
Society of Canada and was the president of the International Society of Dynamic
Games (2002-2006).
{% endblock %}
