{% extends 'plenary-speakers/_semi-plenary.html' %}
{% set name='zaccour' %}

{% block title %}Sustainability of Cooperation in Dynamic Games Played over Event Trees{% endblock %}

{% block abstract %}
In this talk, I will first recall the main ingredients of the class of
stochastic games where the uncertainty is described by an event tree.  Assuming
that the players wish to cooperate during the whole planning horizon, one needs
to determine how to allocate the total cooperative outcome among the
participant players.  This can be easily done by using any cooperative game
solution concept, such as the Shapley value and the core.  The pending
classical difficulty is how to insure that the players will stick to their
cooperative strategies as time goes by.  I propose a node-consistent Shapley
value allocation as well as node-consistent core allocation such that each
player finds it individually rational to continue to cooperate in the subgame
starting at any node of the event tree, rather than deviating to her
non-cooperative strategy.
{% endblock %}

{% block bio %}
Georges Zaccour holds the Chair in Game Theory and Management and is a full
professor of Department of Management Sciences at HEC Montréal. He holds a
Ph.D. in management science, an M.Sc. in international business from HEC
Montréal and a licence in mathematics and economics from Université
Paris-Dauphine. He served as the director of GERAD, an interuniversity research
center and the director of marketing department and Ph.D. program at HEC
Montréal. His research areas are differential games, optimal control and
operations research applied to marketing, energy sector and environmental
management, areas in which he has published more than 140 papers and co-edited
thirteen volumes. He coauthors the books Differential Games in Marketing and
Games and Dynamic Games. His research is regularly funded by the Natural
Sciences and Engineering Research Council of Canada. He is the editor-in-chief
of Dynamic Games and Applications and associate editor of the International
Game Theory Review, Environmental Modeling &amp; Assessment, Computational
Management Science, INFOR, and other journals.  He is a fellow of The Royal
Society of Canada and was the president of the International Society of Dynamic
Games (2002-2006).
{% endblock %}
