*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

@import 'normalize/normalize'

div.container
  margin: 0 auto
  max-width: 1000px

nav, main
  position: relative
  float: left

nav
  width: 220px
  padding-right: 20px
main
  width: 670px

header
  display: block
  height: 100px
  div
    margin: 10px
  .ammcs-logo
    background: url('/static/images/ammcs-caims-logo.png') no-repeat
    background-size: contain
    background-position: center center
    height: 80px
  .ammcs-title
    h1, h2, span
      margin: 0
      padding: 0

nav
  ul
    list-style: none
    padding: 0
  li
    width: 100%
    display: inline-block
    border-left: 4px solid transparent
    font-size: 14px
    a
      padding: 6px
      display: inline-block
      width: 100%
      text-decoration: none
      color: steelblue
    &:hover
      border-color: steelblue
      background-color: #eee
    &.active
      background-color: lighten(steelblue, 20%)
      a
        color: white
