.organization {
  h2 {
    margin: 1em 0 0;
  }
  ul {
    padding-left: 20px;
  }
  li {
    list-style: none;
  }

  ul.students {
    li {
      display: inline-block;
      width: 45%;
      margin-right: 10px;
    }
  }
}

.venue-accommodation {
  ul li {
    padding: 10px 0;
  }
}

.special-sessions {
  h3 span {
    display: inline-block;
  }
}
