@import 'pure_styling';

/* -- Responsive Styles (Media Queries) ------------------------------------- */

/* Hides the menu at `48em`, but modify this based on your app's needs.  */

.header,
.content {
  padding-left: 2em;
  padding-right: 2em;
}

#layout {
  padding-left: $width;
  /* left col width "#menu" */
  left: 0;
}

#menu {
  left: $width;
}

.menu-link {
  position: fixed;
  left: $width;
  display: none;
}

#layout.active .menu-link {
  left: $width;
}
