$border-colour: #ccc;

.header {
  padding-bottom: 3em;
  border-bottom: 1px solid $border-colour;
 .ammcs-logo {
    background: url('/static/images/ammcs-caims-logo.png') no-repeat;
    background-size: contain;
    background-position: center right;
    height: 100px;
  }
  .ammcs-title {
    text-align: left;
    h2 {
      color: steelblue;
    }
  }
  h1, h2, span {
    padding: 0 5px;
    margin: 0;
  }
}

#menu {
  .pure-menu-heading {
    background: transparent;
    color: steelblue;
    &:hover {
      color: lighten(steelblue, 20%);
    }
  }
  ul {
    li {
      &.pure-menu-selected {
        background-color: steelblue;
      }
      a {
        font-size: 14px;
      }
    }
  }
}

a {
  color: darken(steelblue, 10%);
  text-decoration: none;
  &:hover {
    color: steelblue;
  }
}

.content {
  padding: 2em 1em;
  h1 {
    color: steelblue;
    padding-bottom: 0.6em;
    border-bottom: 1px solid $border-colour;
  }
  table {
    td {
      padding: 2px 4px;
    }
  }
  .banner {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }
}

footer {
  background-color: white;
  border-top: 1px solid $border-colour;
  padding: 1em 0;
  text-align: center;
  bottom: 0;
}

hr {
  border: none;
  border-top: 1px solid $border-colour;
}

.special-session, .plenary-speaker {
  h1 { // this is the type and code of the session
    font-size: 1.4em;
    margin: 0 0 1em 0;
  }
  h2 { // this is the title of the session
    font-size: 2em;
    margin: 0;
    line-height: 1em;
  }
  h3 { // this is the organizer's name
    margin: 0.7em 0;
  }
}

.supporters {
  .logo {
    height: 100px;
    text-align: center;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}
