.header {
  padding-bottom: 3em;
  border-bottom: 1px solid #ccc; }
  .header .ammcs-logo {
    background: url("/static/images/ammcs-caims-logo.png") no-repeat;
    background-size: contain;
    background-position: center right; }
  .header .ammcs-title {
    text-align: left; }
    .header .ammcs-title h2 {
      color: steelblue; }
  .header h1, .header h2, .header span {
    padding: 0 5px;
    margin: 0; }

#menu .pure-menu-heading {
  background: transparent;
  color: steelblue; }
  #menu .pure-menu-heading:hover {
    color: #8db3d3; }
#menu ul li.pure-menu-selected {
  background-color: steelblue; }
#menu ul li a {
  font-size: 14px; }

.content {
  padding-top: 2em; }
  .content a {
    color: #38678f;
    text-decoration: none; }
    .content a:hover {
      color: steelblue; }

.special-session h1 {
  font-size: 1.4em;
  margin: 0 0 1em 0; }
.special-session h2 {
  font-size: 2em;
  margin: 0; }
.special-session h3 {
  margin: 0.7em 0; }

.supporters .logo {
  height: 100px;
  text-align: center; }
  .supporters .logo img {
    max-width: 100%;
    max-height: 100%; }
