<!doctype html>
<html lang="en">
  <head>
    <title>AMMCS-CAIMS 2015</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-translate-customization" content="3cfe5f452bf2da44-3146f86ecbe55b17-g15f50539916b1147-1b"></meta>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css">
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="css/side-menu-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="/static/css/side-menu.css">
    <!--<![endif]-->
    <link href="/static/css/styles.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,700italic' rel='stylesheet' type='text/css'>
  </head>
  <body>

    <div id="layout">
      <a href="#menu" id="menuLink" class="menu-link">
        <span></span>
      </a>

      <div id="menu">
        <div class="pure-menu pure-menu-open">
          <a class="pure-menu-heading" href="/">AMMCS-CAIMS 2015</a>
          <ul>
            {% set active_page = active_page|default('index') -%}
            {% for page, route in pages.items() %}
            <li {% if route == active_page %} class="pure-menu-selected"{% endif %}>
              <a href="/{{ route }}{% if route %}/{% endif %}">{{ page }}</a>
            </li>
            {% endfor %}

            <div id="google_translate_element"></div>
          </ul>
        </div>
      </div>

      <div id="main">
        <div class="header pure-g">
          <div class="ammcs-logo pure-u-3-8"></div>
          <div class="ammcs-title pure-u-5-8">
            <h1>The 2015 AMMCS-CAIMS Congress</h1>
            <h2>Interdisciplinary AMMCS Conference Series</h2>
            <span>Waterloo, Ontario, Canada</span> | <span>June 7-12, 2015</span>
          </div>
        </div>

        <div class="content">
          {% block body %}
          {% endblock %}
        </div>
      </div>

      <footer>
        <span class='search-warning'>Search the AMMCS-CAIMS 2015 website in the box below</span>
        <script>
          (function() {
            var cx = '017430423960306350711:_naeozrh9_q';
            var gcse = document.createElement('script');
            gcse.type = 'text/javascript';
            gcse.async = true;
            gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                '//www.google.com/cse/cse.js?cx=' + cx;
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(gcse, s);
          })();
        </script>
        <gcse:search></gcse:search>

        <span>
          &copy;
          <a href='/'>2015 AMMCS-CAIMS Congress</a>
          |
          <a href='http://www.ms2discovery.wlu.ca/'>MS2Discovery IRI</a>
          |
          <a href='/travel-local-info/'>Waterloo, ON, Canada</a>
        </span>
      </footer>
    </div>

    <div id="google_translate_element"></div><script type="text/javascript">
      function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
      }
    </script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script src="/static/js/ui.js" type="text/javascript"></script>

  </body>
</html>
