{% extends '_layout.html' %}
{% set active_page = 'conference-flyer' -%}
{% block body %}


<h1>AMMCS-CAIMS-2015 Conference Flyers</h1>
<p>Download Conference Brochure, Flyer and Poster</p>
<ul>
  <li><a href="/static/files/AMMCS-CAIMS2015-Calls-for-Abstracts-SS-MS.pdf">Call for Abstracts and Minisymposia</a></li>
  <li><a href="#">Flyer of the AMMCS-CAIMS-2015 Conference</a></li>
  <li><a href="#">AMMCS-CAIMS-2015 Fields Institute Poster</a></li>
  <li><a href="/static/files/First-Announcement-AMMCS-CAIMS2015-Congress.pdf">AMMCS-CAIMS-2015 First Announcement Poster</a></li>
</ul>


{% endblock %}
