{% extends '_layout.html' %}
{% set active_page = 'conference-flyer' -%}
{% block body %}


<h1>AMMCS-CAIMS-2015 Conference Flyers</h1>
<p>Download Conference Brochure, Flyer and Poster</p>
<ul>
  <li><a href="http://www.ammcs2013.wlu.ca/ammcs-pdf/AMMCS2013-Brochure.pdf">AMMCS-CAIMS-2015 Conference Brochure</a></li>
  <li><a href="http://www.ammcs2013.wlu.ca/ammcs-pdf/AMMCS2013-Calls-for-Abstracts-SS-MS.pdf"> Call for Abstracts and Minisymposia </a></li>
  <li><a href="http://www.ammcs2013.wlu.ca/ammcs-pdf/AMMCS2013-Flyer.pdf">Flyer of the AMMCS-CAIMS-2015 Conference</a></li>
  <li><a href="http://www.ammcs2013.wlu.ca/ammcs-pdf/AMMCSFields-Flyer.pdf">AMMCS-CAIMS-2015 Fields Institute Poster</a></li>
</ul>


{% endblock %}
