{% extends '_layout.html' %}
{% set active_page = 'conference-program' -%}
{% block body %}

<h1>Conference Program</h1>

<p>
  Conference Program will be available on XXX, 2015
</p>
<p> Please also see: </p>
<ul>
  <li><a href="/static/conference/Page1-Instructions_for_speakers.pdf">Instructions for Speakers</a></li>
  <li><a href="/static/conference/Page2-Instructions_for_Posters.pdf">Instructions for Poster Presenters</a></li>
  <li><a href="/static/conference/Page3-Instructions_for_Session_Chairs.pdf">Instructions for Session Chairs</a></li>
</ul>
<hr>
<p>The Book of Abstracts will be available on XXX, 2015.</p>


{% endblock %}
