{% extends 'layout.html' %}
{% set active_page = 'contributed-sessions' -%}
{% block body %}

<h1>Contributed Sessions</h1>

<p>
  A number of contributed sessions are organized consisting of contributed
  talks and poster presentations. These sessions cover a wide range of topics
  in applied mathematics, modeling and computational science, including
  emerging cross- discipline subject areas in mathematics, science, and
  engineering.
</p>

<p>
  The complete list of contributed sessions will be available in March 2015.
  Topics of the contributed sessions currently include, but not limited to
</p>

<table border=1>
  <thead>
    <tr>
      <td>ID</td><td>Contributed Session</td>
    </tr>
  </thead>
  <tbody>
    <tr><td>CS-MECHE</td><td>Computational Mechanics and Engineering</td></tr>
    <tr><td>CS-MODELING</td><td>Partial Differential and Integral Equations in Mathematical Modeling</td></tr>
    <tr><td>CS-DSDE</td><td>Applications of Dynamical Systems and Differential Equations</td></tr>
    <tr><td>CS-BSM</td><td>Mathematics and Computation in Biological Sciences and Medicine</td></tr>
    <tr><td>CS-CPC</td><td>Computational Physics and Chemistry</td></tr>
    <tr><td>CS-CACO</td><td>Computational Algebra, Combinatorics and Optimization</td></tr>
    <tr><td>CS-POST</td><td>AMMCS-CAIMS-2015 Poster Session</td></tr>
    <tr><td>CS-ENV</td><td>Mathematical Modelling in Environmental Sciences and Models for Complex Media</td></tr>
    <tr><td>CS-APMRE</td><td>Applied Problems and Methods in Research &amp; Education</td></tr>
    <tr><td>CS-FINANCE</td><td>Financial Mathematics and Computation</td></tr>
  </tbody>
</table>

<p>
  Please submit your abstract via the <a
    href="https://www.conference-service.com/ammcs2013/welcome.cgi">AMMCS-CAIMS-2015
    Management System</a>. Each registered participant will obtain the
  AMMCS-CAIMS-2015 Book of Abstracts, along with the Program of the conference.
</p>

<p>
  There will be also the AMMCS-CAIMS-2015 refereed proceedings, published after
  the conference. If you intend to submit your full conference paper to the
  proceedings, please go to the <a href="/proceedings">AMMCS-CAIMS-2015
    Proceedings Page</a>and follow exactly the Author Instructions accessible
  from that page. Only the papers presented at the conference and accepted for
  publication through the referring process will be published in the
  AMMCS-CAIMS-2015 proceedings. Submission of full conference papers is not
  mandatory.
</p>

<p>
  Extended versions of selected papers, presented at the conference, will be
  invited for several specialized <a href="proceedings.html">scientific
    journals</a>.
</p>

{% endblock %}
