{% extends '_layout.html' %}
{% set active_page = 'deadlines-payment' -%}
{% block body %}

<h1>Deadlines and Registration Fees</h1>

<p>
  <b>Registration for the conference is open:</b>
  <a href="#">Please follow this link (TBD)</a>.
</p>

<ul>
  <li>
    Deadline for minisymposia/special sessions proposals: TBA.
  </li>
  <li>
    Deadline for <a href="#">submissions of abstracts</a>: TBA.
  </li>
  <li>
    Decision on abstracts: TBA.
  </li>
  <li>
    Early Bird Registration: TBA.
  </li>
  <li>
    Deadline for author registration: TBA.
  </li>
  <li>
    Publication of full program: TBA.
  </li>
</ul>

<p>Early bird registration fees are as follows:
  <ul>
    <li>
      Regular participant: TBA
    </li>
    <li>
      Postdoctoral fellow: TBA
    </li>
    <li>
      Students: TBA
    </li>
    <li>
      Accompanying person: TBA
    </li>
    <li>
      Conference banquet (to be held on Thursday): TBA
    </li>
  </ul>
</p>

<p>Please note that:
  <ol>
    <li>
      After XXX the registration fees increase by TBA in each of the
      above four categories of participants.
    </li>
    <li>
      IMPORTANT: To be included in the program, all authors presenting their
      papers at the conference should register before the author registration
      deadline (XXX).
    </li>
    <li>
      For minisymposia/special session organizers and plenary speakers
      registration fees are waived.
    </li>
    <li>
      Full refund of registration fees can be made only prior to XXX
      and 50% refund until XXX (minus credit card surcharge, the
      conference treasurer can be contacted at 
      <a href='mailto:t-ammcs2015@wlu.ca'>t-ammcs2015@wlu.ca</a>).
      No refund can be made after this date.
    </li>
    <li>
      Payments can be made by credit card. Please follow this
      <a href="#">link (TBD)</a>
      to register and pay your registration fees.
    </li>
  </ol>
</p>

{% endblock %}
