{% extends '_layout.html' %}
{% set active_page = 'deadlines-payment' -%}
{% block body %}

<h1>Deadlines and Registration Fees</h1>

<p>
  <b>Registration for the conference is open:</b>
  <a href="#">Please follow this link (TBA)</a>.
</p>

<ul>
  <li> Deadline for minisymposia/special sessions proposals: January 10, 2015.  </li>
  <li> Deadline for <a href="#">submissions of abstracts</a>: March 1, 2015.  </li>
  <li> Decision on abstracts: March 15, 2015.  </li>
  <li> Early Bird Registration: March 31, 2015.  </li>
  <li> Deadline for author registration: March 31, 2015.  </li>
  <li> Publication of full program: April 30, 2015.  </li>
</ul>

<p>Early bird registration fees are as follows:
  <ul>
    <li> Regular participant: $300 </li>
    <li> CAIMS member: $280 </li>
    <li> Postdoctoral fellow: $150 </li>
    <li> Professor Emeritus: $150 </li>
    <li> Students: $100 </li>
    <li> Accompanying person: $100 </li>
    <li> Conference banquet (to be held on Thursday): $70 </li>
  </ul>
</p>

{% set reg_deadline = "March 31, 2015" %}

<p>Please note that:
  <ol>
    <li>
      After {{ reg_deadline }} registration fees increase by $50 in each of the
      above four categories of participants.
    </li>
    <li>
      IMPORTANT: To be included in the program, all authors presenting their
      papers at the conference should register before the author registration
      deadline ({{ reg_deadline }}).
    </li>
    <li>
      For minisymposia/special session organizers and plenary speakers
      registration fees are waived.
    </li>
    <li>
      Full refund of registration fees can be made only prior to April 15, 2015
      and 50% refund until April 30, 2015 (minus credit card surcharge, the
      conference treasurer can be contacted at 
      <a href='mailto:t-ammcs2015@wlu.ca'>t-ammcs2015@wlu.ca</a>).
      No refund can be made after this date.
    </li>
    <li>
      Payments can be made by credit card. Please follow this
      <a href="#">link (TBA)</a>
      to register and pay your registration fees.
    </li>
  </ol>
</p>

{% endblock %}
