{% extends '_layout.html' %}
{% set active_page = '' %}
{% block body %}

<h1>The 2015 AMMCS-CAIMS Congress</h1>

<p>
AMMCS-CAIMS 2015 is an interdisciplinary international conference in a series
of AMMCS meetings held in Waterloo, Ontario, Canada. The series aims at
promoting interdisciplinary research and collaboration involving mathematical
and computational sciences, and highlighting recent advances in Applied
Mathematics, Modeling and Computational Science (AMMCS). In 2015 the conference
will be held in the last week of August (August 26-30, 2015). It is organized
in cooperation with AIMS and SIAM and is supported by the Fields Institute.
</p>

<div class='pure-g'>
  <div class='pure-u-1-3'><img src='/static/images/welcome/2011opening.jpg'></div>
  <div class='pure-u-1-3'><img src='/static/images/welcome/wlufrontsign.jpg'></div>
  <div class='pure-u-1-3'><img src='/static/images/welcome/2011groupphoto.jpg'></div>
</div>

<p>
The conference provides a unique opportunity for in-depth technical discussions
and exchange of ideas in all areas involving mathematical and computational
sciences, modeling and simulation, as well as their applications in natural and
social sciences, engineering and technology, industry and finance.
</p>

<p>
It offers to researchers, industrialists, engineers and students to present
their latest research, to interact with the experts in the field, and to foster
interdisciplinary collaborations required to meet the challenges of modern
science, technology, and society.
</p>

<p>
Located just west of Toronto in the Canada Research Triangle area, the city of
Waterloo is home to two universities (University of Waterloo and Wilfrid
Laurier University), the Perimeter Institute for Theoretical Physics, Research
in Motion, and many other innovative institutions. The venue of AMMCS-CAIMS
2015 is the Waterloo Campus of Wilfrid Laurier University, the oldest
university in the tri-city of Cambridge, Kitchener, Waterloo and the Guelph
areas. It is a beautiful part of Canada located in a comfortable driving
distance from some of North America's most spectacular tourist destinations,
including the Niagara Escarpment, a UNESCO World Biosphere Reserve.
</p>

<div class="supporters">
  <div class="pure-g">
    {% for src in ['Logo5-Fields.jpg', 'Logo3-Sharcnet.jpg', 'maplesoft_logo.jpg'] %}
    <div class="pure-u-1-3 logo">
      <img src="/static/images/supporters/{{ src }}">
    </div>
    {% endfor %}
  </div>
  <div class="pure-g">
    {% for src in ['AIMS_logo_Blue.jpg', 'MprimeLogo.png', 'cooperation-SIAM.jpg'] %}
    <div class="pure-u-1-3 logo">
      <img src="/static/images/supporters/{{ src }}">
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
