{% extends '_layout.html' %}
{% set active_page = 'organization' -%}
{% block body %}

<h1>Organizing Committees</h1>

<h2>Scientific Committee</h2>
<ul> 
  <li>Ian Frigaard (University of British Columbia)</li>
  <li>Shaofan Li (University of California, Berkeley)</li>
  <li>John Lowengrub (University of California, Irvine)</li>
  <li>Raymond Spiteri (University of Saskatchewan)</li>
  <li>Nicholas Zabaras (University of Warwick)</li>
</ul>

<h2>Organizing Committee</h2>
<ul>
  <li>TBA</li>
</ul>

<h2>SIAM Representative </h2>
<ul>
  <li>TBA</li>
</ul>

<h2>Technical Support Committee</h2>
<ul>
  <li>George Lifchits (Web Coordinator)</li>
  <li>Sanjay Prabhakar (Computer Support)</li>
  <li>Shyam Badu (Digital Media Support)</li>
</ul>

<h2>AMMCS-CAIMS-2015 Students Team </h2>
<ul>
  <li>TBA</li>
</ul>
{% endblock %}
