{% extends '_layout.html' %}
{% set active_page = 'organization-history' -%}
{% block body %}

<h1> Organizing Committees </h1>

<h2>Scientific Committee </h2>
<ul> 
  <li>Alberto Bressan (Pennsylvania State University)</li>
  <li>Huaxiong Huang (York University)</li>
  <li>Anatoli Ivanov (Pennsylvania State University)</li>
  <li>Peter Kuchment (Texas A &amp; M University)</li>
  <li>Michael Vrahatis (University of Patras) </li>
  <li>Olof Runborg (KTH Royal Institute of Technology)</li>
  <li>Konstantinos E. Parsopoulos (University of Ioannina)</li>
  <li>Tamas Terlaky (Lehigh University)</li>
  <li>Konstantina Trivisa (University of Maryland)</li>
</ul>

<h2>Organizing Committee</h2>

<ul>
  <li>Monica G. Cojocaru (Conference Program Chair, Guelph)</li>
  <li>Robert Jerrard (Global Organizing Committee, U of Toronto)</li>
  <li>Herb Kunze (Global Organizing Committee, U of Guelph)</li>
  <li>Ilias Kotsireas (Conference Co-chair, till August 12, 2013)</li>
  <li>Roman Makarov (Conference Treasurer, WLU)</li>
  <li>Roderick Melnik (General Conference Chair, WLU)        </li>
  <li>Manuele Santoprete (Student Prize Committee Chair, WLU)</li>
  <li>Hasan Shodiev (Local Organizing Committee Chair, WLU)        </li>
  <li>Brian West (Program Committee, till April 1, 2013, WLU)    </li>
</ul>

<h2>SIAM Representative </h2>
<ul>
  <li> Roderick Melnik </li>
</ul>


<h2>Technical Support Committee</h2>

<ul>
  <li>Cameron Davidson-Pilon (Web Coordinator)</li>
  <li>Dalibor D. Dvorski (Electronic Publishing Coordinator)</li>
  <li>Jeanette Haas (Administrative Support)</li>
  <li>Sanjay Prabhakar (Computer Support)</li>
  <li>Shyam Badu (Digital Media Support)</li>
</ul>

<h2>AMMCS-2013 Students Team </h2>


<table id="voltable" style="font-size:12pt; font-color: black">
  <tr >
    <td>Saqif Abdullah</td>
    <td>Anisha Mahant</td></tr>
  <tr>
    <td>Safia Athar </td><td>Andrei  Malinovski</td></tr>
  <tr><td>Ayesha  Banerjee </td><td>Rania  Masood</td></tr>
  <tr>
    <td>Sherry Cheng</td>
    <td>Damaris McKinley</tr>
    <tr>
      <td>Rakesh Dhote</td>
      <td>Erin Meger</td></tr>
    <tr>
      <td>Richard Douglas</td>
      <td>Sylvia Nguyen</td></tr>
    <tr><td>Nguyen  Hoang</td>
      <td>Nynke Prins</td></tr>
    <tr>
      <td>Mary Huang</td>
      <td>Limeng Shi</td></tr>
    <tr>
      <td>Farangiz Jalolova</td>
      <td>Parvina Shodieva</td></tr>
    <tr>
      <td>Amina Khan</td><td>Stephen Tully</td></tr>
    <tr>
      <td>Nida Khan</td><td>Chi Zhang</td></tr>
    <tr>
      <td>Jingyu Ma</td>
      <td>&nbsp;</td>
    </tr>
  </table>


  {% endblock %}
