{% extends '_layout.html' %}
{% set active_page = 'organization' -%}
{% block body %}

<h1>Organizing Committees</h1>

<h2>Scientific Committee</h2>
<ul>
  {% for (first, last, inst) in committee.scientific|sort(attribute=1) %}
  <li>{{ first }} {{ last }} ({{ inst }})</li>
  {% endfor %}
</ul>

<h2>Organizing Committee</h2>
<ul>
  {% for (first, last, inst) in committee.organizing %}
  <li>{{ first }} {{ last }} ({{ inst }})</li>
  {% endfor %}
</ul>

<h2>SIAM Representative </h2>
<ul>
  <li>TBA</li>
</ul>

<h2>Technical Support Committee</h2>
<ul>
  <li>George Lifchits (Web Coordinator)</li>
  {% for (first, last, role) in committee.technical|sort(attribute=1) %}
  <li>{{ first }} {{ last }} ({{ role }})</li>
  {% endfor %}
</ul>

<h2>AMMCS-CAIMS-2015 Students Team </h2>
<ul>
  {% for (first, last, inst) in committee.students|sort(attribute=1) %}
  <li>{{ first }} {{ last }} ({{ inst }})</li>
  {% endfor %}
</ul>
{% endblock %}
