{% extends '_layout.html' %}
{% set active_page = 'plenary-speakers' -%}
{% block body %}

<h1>Plenary Speakers</h1>

<p> Confirmed plenary speakers at this conference include (with links to the abstracts of their talks): </p>

<ul>
  {% for name, first, last, inst, _ in plenary_as_list %}
  <li><a href="{{name}}">{{first}} {{last}}</a> ({{inst}})</li>
  {% endfor %}
</ul>

<p>The conference also features several distinguished semi-plenary speakers, including

<ul>
  <li>TBA</li>
</ul>

{% endblock %}
