{% extends '_layout.html' %}
{% set active_page = 'plenary-speakers' -%}
{% block body %}

<h1>Plenary Speakers</h1>

  <p> Confirmed plenary speakers at this conference include (with links to the abstracts of their talks): </p>
  <ul>
    <li><a href="/plenary/carr.html">Peter Carr</a>  (Morgan Stanley)    </li>
    <li><a href="/plenary/carter.html">Emily Carter</a> (Princeton University)</li>
    <li><a href="/plenary/coifman.html">Ronald Coifman</a> (Yale University)</li>
    <li><a href="/plenary/golubitsky.html">Marty Golubitsky</a> (Ohio State University)</li>
    <li><a href="/plenary/jones.html">Vaughan Jones</a>  (Vanderbilt University)</li>
    <li><a href="/plenary/kari.html"> Lila Kari</a> (Western University) </li>
    <li><a href="/plenary/majda-giannakis.html">Dimitris Giannakis / Andrew Majda</a> (New York University)</li>
    <li><a href="/plenary/papanicolaou.html"> George Papanicolau</a> (Stanford University)</li>
    <li><a href="/plenary/pardalos.html">Panos Pardalos</a> (University of Florida)</li>
    <li><a href="/plenary/sigal.html">Michael Sigal</a> (University of Toronto)</li>
    <li> <a href="/plenary/toussaint.html">Godfried Toussaint</a> (NYUAD/M.I.T./McGill)</li>
  </ul>
  
  <p>The conference also features several distinguished semi-plenary speakers, including

  <ul>
    <li><a href="/plenary/arino.html"> Julien Arino </a> (University of Manitoba)</li>
    <li><a href="/plenary/brams.html"> Steven Brams </a> (New York University)</li>
    <li><a href="/plenary/hofmann.html"> Bernd Hofmann </a> (Technical University of Chemnitz)</li>
    <li><a href="/plenary/klein.html"> Eili Klein </a> (John Hopkins University)</li>
    <li><a href="/plenary/levy.html"> Mel Levy </a> (Duke University)</li>
    <li><a href="/plenary/matysiak.html"> Silvina Matysiak </a> (University of Maryland)</li>
    <li><a href="/plenary/tarfulea.html"> Nicolae Tarfulea </a> (Purdue University Calumet)</li>
    <li><a href="/plenary/tieleman.html"> Peter Tieleman </a> (University of Calgary)</li>
  </ul>
  


{% endblock %}
