{% extends '_layout.html' %}
{% set active_page = 'proceedings' -%}
{% block body %}

<h1>Proceedings</h1>
<p>Proceedings of the AMMCS-2013 conference, based on refereed papers submitted by the registered participants, will be published by Springer. </p>
<p>All papers submitted for the Springer Proceedings of AMMCS-2013 will be peer reviewed. Only papers with at least one registered author will be considered. The papers should be prepared according to <a href="http://www.ammcs2013.wlu.ca/ammcs-pdf/AMMCS-2013-author.pdf">this Springer template</a> (the complete <a href="http://www.ammcs2013.wlu.ca/ammcs-pdf/AMMCS-2013-Template-Paper.zip">zip file</a> with Springer styles) and submitted to ammcs2013@wlu.ca by September 15, 2013. Your manuscript should not exceed 6 pages. Manuscripts that do not comply with the above requirements will be rejected without sending them to the reviewers.</p>
<p>In addition, extended versions of some selected papers, presented at the conference, will be invited for submission to the following journals: </p>
<ul>
  <li><a href="http://www.aspbs.com/jcsmd">Journal of Coupled Systems and Multiscale Dynamics</a>; </li>
  <li><a href="http://www.watam.org/A/index.html">Dynamics of Continuous, Discrete &amp; Impulsive Systems: Series A</a>; </li>
  <li><a href="http://www.watam.org/B/index.html">Dynamics of Continuous, Discrete &amp; Impulsive Systems: Series B</a>;</li>
  <li><a href="http://www.elsevier.com/wps/find/journaldescription.cws_home/721195/authorinstructions">Journal of Computational Science</a>;</li>
  <li><a href="http://www.degruyter.com/view/j/nsmmt.2012.1.issue/issue-files/nsmmt.2012.1.issue.xml">Nanoscale Systems: Mathematical Modeling, Theory and Applications</a>.</li>
</ul>


{% endblock %}
