{% extends '_layout.html' %}
{% set active_page = 'proceedings' -%}
{% block body %}

<h1>Proceedings</h1>

<p>
  Proceedings of the AMMCS-CAIMS2015 conference, based on refereed papers
  submitted by the registered participants, will be published by Springer.
</p>

<p>
  All papers submitted for the AMMCS-CAIMS2015 Proceedings will be peer
  reviewed. Only papers with at least one registered author will be considered.
  The papers should be prepared according to
  <a href='#'>this template (TBA)</a>
  (the complete
  <a href='#'>zip file (TBA)</a>) and submitted to
  <a href='mailto:ammcs-caims2015@wlu.ca'>ammcs-caims2015@wlu.ca</a>
  by July 15, 2015 (further details will be announced soon).
  Your manuscript should not exceed XXX pages. Manuscripts that
  do not comply with the above requirements will be rejected without sending
  them to the reviewers.
</p>

<p>
  All papers submitted for AMMCS-CAIMS2015 will be
  peer reviewed. Only papers with at least one registered author will be
  considered. The papers should be prepared according to
  <a href="#">this template (TBA)</a>
  (the complete
  <a href="#">zip file (TBA)</a>
  with styles) and submitted to
  <a href='mailto:ammcs-caims2015@wlu.ca'>ammcs-caims2015@wlu.ca</a>
  by July 15, 2015. Manuscripts that do not comply with the above requirements will
  be rejected without sending them to the reviewers.
</p>
<p>
  In addition, extended versions of some selected papers, presented at the
  conference, will be invited for submission to the following journals:
</p>
<ul>
  <li>
    <a href="http://www.aspbs.com/jcsmd">
      Journal of Coupled Systems and Multiscale Dynamics;
    </a>
  </li>
  <li>
    <a href="http://www.watam.org/A/index.html">
      Dynamics of Continuous, Discrete & Impulsive Systems: Series A;
    </a>
  </li>
  <li>
    <a href="http://www.watam.org/B/index.html">
      Dynamics of Continuous, Discrete & Impulsive Systems: Series B
    </a>
  </li>
</ul>


{% endblock %}
