{% extends 'layout.html' %}
{% set active_page = 'scholarships-grants-prizes' -%}
{% block body %}

<h1>AMMCS Travel Grants and Prizes</h1>

<p>
  We are pleased to announce that there are several additional awards for young
  researchers in the category of graduate students, recent PhD graduates, and
  postdoctoral fellows under the age of 35. Nominations for these awards from
  established researchers are welcome.
</p>
<ul>
  <li>
    <p>
      This year <a href="http://www.ammcs2015.wlu.ca/KW/index.html">the AMMCS
        Kolmogorov-Wiener Prize for Young Researchers</a>&nbsp;will also be
      awarded. The competition for this award is open to young researchers in
      the category of recent PhD graduates and postdoctoral fellows under the
      age of 35. The eligibility criteria include young researchers who (a)
      have earned their PhD degrees within 5 years of January 1 of the year of
      the award,           (b) have at least two peer refereed publications,
      minimum one of which has appeared in an internationally recognized
      journal, (c) have presented their talks at an AMMCS event in the year of
      the award.          The competition is open to both Canadian and
      international applicants. Details of the application package can be found
      at <a href="http://www.ammcs2015.wlu.ca/KW/index.html">this page</a>.
      Your complete application package should be sent with subject line "AMMCS
      Kolmogorov-Wiener Young Researcher Award" by August 12, 2015 to
      ammcs2015@wlu.ca
    </p>
  </li>
  <li>
    <p>
      We expect a limited number of partial travel scholarships to become
      available to qualified applicants. In order to apply, please submit (a) a
      cover letter highlighting how you would benefit from attending
      AMMCS-CAIMS-2015, (b) your CV with brief summary of your research interest and
      accomplishments to date, and (c) the abstract of your presentation.
      Please indicate in your cover letter if you submitted the full paper to
      the&nbsp;<a
        href="http://www.ammcs2015.wlu.ca/proceedings.html">Proceedings of
        AMMCS-CAIMS-2015</a>. The complete package should be sent with subject line
      "AMMCS-CAIMS-2015 Travel Award" to the Chair of Student Prize Committee
      (msantoprete@wlu.ca) with cc to ammcs2015@wlu.ca.
    </p>
  </li>
</ul>
<p>Payment of the above travel scholarship funds and other awards will be made to recipients after they have attended the conference.</p>

{% endblock %}
