{% extends '_layout.html' %}
{% set active_page = 'scholarships-grants-prizes' -%}
{% block body %}

<h1>AMMCS Travel Grants and Prizes</h1>

<p>
  We are pleased to announce that there are several additional awards for young
  researchers in the category of graduate students, recent PhD graduates, and
  postdoctoral fellows under the age of 35. Nominations for these awards from
  established researchers are welcome.
</p>
<ul>
  <li>
    <p>
      This year 
      <a href='#'>the AMMCS Kolmogorov-Wiener Prize for Young Researchers</a>
      will also be awarded. The competition for this award is open to young researchers in
      the category of recent PhD graduates and postdoctoral fellows under the
      age of 35. The eligibility criteria include young researchers who 
      
      <ol type='a'>
        <li>
          have earned their PhD degrees within 5 years of January 1 of the year
          of the award,
        </li>
        <li>
          have at least two peer refereed publications, minimum one of which
          has appeared in an internationally recognized journal
        </li>
        <li>
          have presented their talks at an AMMCS event in the year of the
          award.
        </li>
      </ol>
      The competition is open to both Canadian and international applicants.
      Details of the application package can be found at 
      <a href="#">this page</a>.
      Your complete application package should be sent with subject line "AMMCS
      Kolmogorov-Wiener Young Researcher Award" by XXX, 2015 to
      <a href='mailto:ammcs-caims2015@wlu.ca'>ammcs-caims2015@wlu.ca</a>
    </p>
  </li>
  <li>
    <p>
      We expect a limited number of partial travel scholarships to become
      available to qualified applicants. In order to apply, please submit 

      <ol type='a'>
        <li>a cover letter highlighting how you would benefit from attending AMMCS-CAIMS-2015,</li>
        <li>your CV with brief summary of your research interest and accomplishments to date, and </li>
        <li>the abstract of your presentation.</li>
      </ol>
      Please indicate in your cover letter if you submitted the
      full paper to the&nbsp;<a href="/proceedings/">Proceedings of
        AMMCS-CAIMS-2015</a>. The complete package should be sent with subject
      line "AMMCS-CAIMS-2015 Travel Award" to
      <a href="mailto:ammcs-caims2015@wlu.ca">ammcs-caims2015@wlu.ca</a>).
    </p>
  </li>
</ul>
<p>Payment of the above travel scholarship funds and other awards will be made to recipients after they have attended the conference.</p>

{% endblock %}
