{% extends '_layout.html' %}
{% set active_page = 'special-sessions' -%}
{% block body %}

<h1> Call for Abstracts and MS Proposals </h1>
<p>
The conference has a series of special sessions and minisymposia, each devoted
to a single topic. These special sessions and minisymposia are run over a full
range of topics of the conference.
</p>
<p>
The complete list of special sessions will be available in March 2015. The
AMMCS-CAIMS-2015 Special Sessions/ Minisymposia and their ID codes currently
include: 
</p>

<table id="special-sessions" border=1>
  <thead>
    <tr>
      <td></td>
      <td> ID </td>
      <td> Title </td>
      <td> Organizer(s)</td>
    </tr>
  </thead>
  <tbody> 
    {% for code, info in sessions.items() %}
    <tr>
      <td> {{ loop.index }} </td>
      <td> SS-{{ code|upper }} </td>
      <td> <a href="/special-sessions/{{ code }}/">{{ info[0] }}</a> </td>
      <td> {{ info[1] }} </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<p>
  Please submit your abstract via the
  <a href="#">AMMCS-CAIMS-2015 Management System (TBD)</a>. 
  If you are submitting it to a special session, please consult with a session
  organizer first and, after obtaining his/her consent, submit it, clearly
  indicating your session ID code. Otherwise, your abstract will be considered
  for a contributed session. Each registered participant will obtain the
  AMMCS-CAIMS-2015 Book of Abstracts, along with the Program of the conference.
</p>

<p>
  There will be also the AMMCS-CAIMS-2015 refereed proceedings, published after
  the conference. If you intend to submit your full conference paper to the
  proceedings, please go to the 
  <a href="/proceedings/">AMMCS-CAIMS-2015 Proceedings Page</a> 
  and follow exactly the Author Instructions accessible from that page. Only
  the papers presented at the conference and accepted for publication through
  the referring process will be published in the AMMCS-CAIMS-2015 proceedings.
  Submission of full conference papers is not mandatory.
</p>

<p>
  Extended versions of selected papers, presented at the conference, will be
  invited for several specialized
  <a href="/proceedings/">scientific journals</a>.
</p>


{% endblock %}
