{% extends 'layout.html' %}
{% set active_page = 'special-sessions' -%}
{% block body %}

<h1>
  <a href="http://www.ammcs2013.wlu.ca/ammcs-pdf/AMMCS2013-Calls-for-Abstracts-SS-MS.pdf" title="AMMCS-2013: Call for Special Sessions">Call for Abstracts and MS Proposals</a>
</h1>
  <hr>
    <p>The conference has a series of special sessions and minisymposia,
      each devoted to a single topic. These special sessions and minisymposia are run over a full range of topics of the conference.</p>
    <p>The complete list of special sessions will be available
      in March 2013. The AMMCS-2013 Special Sessions/
      Minisymposia and their ID codes currently include: 
    </p>
    <table id="special-sessions" border=1>
      <thead>
        <tr>
          <td></td>
          <td> ID </td>
          <td> Title </td>
          <td> Organizer(s)</td>
        </tr>
      </thead>
      <tbody> 
        <tr>
          <td>1</td>
          <td>SS-AAIP</td>
          <td> <a href="/ss/SS-AAIP.html">Applied Analysis & Inverse Problems</a></td>
          <td>Herb Kunze (Math & Statistics, Guelph) and Kimberly Levere (School of Engineering, Guelph) </td>
        </tr>

        <tr><td>2</td>
          <td>SS-ME</td>
          <td><a href="ss/SS-ME.html">Mathematical Epidemiology</td>
          </a><td> Connell McCluskey (WLU)</td>
        </tr>

        <tr><td>3</td>
          <td>SS-SNDTA</td>
          <td><a href="/ss/SS-SNDTA.html">Symmetry in Nonlinear Dynamics: Theory and Applications</a></td>
          <td> Manuele Santoprete (WLU), Ray McLenaghan (University of Waterloo)</td>
        </tr>

        <tr><td>4</td>
          <td>SS-DBCNDE</td>
          <td><a href="/ss/SS-DBCNDE.html">Dynamics and bifurcations in coupled networks of differential equations: theory and applications</a></td>
          <td> Luciano Buono (UOIT)</td>
        </tr>

        <tr><td>5</td>
          <td>SS-CPH</td>
          <td><a href="/ss/SS-CPH.html">Computational Photonics</a></td>
          <td>Marek Wartak (WLU), Harry E. Ruda (University of Toronto) </td>
        </tr>

        <tr><td>6</td>
          <td>SS-IM</td>
          <td> <a href="/ss/SS-IM.html">Industrial Mathematics</a></td>
          <td>Sean Bohun (UOIT)</td>
        </tr>

        <tr><td>7</td>
          <td>SS-SGT</td>
          <td><a href="/ss/SS-SGT.html">Structured Graph Theory</a></td>
          <td>Chinh Hoang and Kathie Cameron (WLU)</td>
        </tr>

        <tr><td>8</td>
          <td>SS-DG</td>
          <td><a href="/ss/SS-DG.html">Decisions and Games</td>
            <td>D. Marc Kilgour (Wilfrid Laurier University) and Marcus Pivato (Trent
              University)</td>
          </tr>

          <tr><td>9</td>
            <td>SS-EGT</td>
            <td><a href="/ss/SS-EGT.html">Evolutionary Game Theory</a> </td>
            <td> Joe Apaloo (St. Francis Xavier), Ross Cressman (WLU)    </td>
          </tr>

          <tr><td>10</td>
            <td>SS-ADS</td>
            <td><a href="/ss/SS-ADS.html">Canada-China Session on Applied Dynamic Systems</a></td>
            <td> Yuming Chen (WLU), Fengqin Zhang (Yuncheng University), Xingfu Zou (Western
              University)</td>
          </tr>

          <tr><td>11</td>
            <td>SS-WSM</td>
            <td><a href="/ss/SS-WSM.html">Women in Science and Mathematics</a></td>
            <td> Shohini Ghose, Hind Al-Abadleh (WLU)</td>
          </tr>

          <tr><td>12</td>
            <td>SS-VPPO</td>
            <td> <a href="/ss/SS-VPPO.html">Variational Problems of Physical Origin</a></td>
            <td> Robert Jerrard (University of Toronto), and Andrew Lorent (
              University of Cincinnati)</td>
          </tr>

          <tr><td>13</td>
            <td>SS-RTDEDS</td>
            <td><a href="/ss/SS-RTDEDS.html"> Recent trends in differential equations and dynamical systems</a></td>
            <td>  Xinzhi Liu (UW), Mohamad Alwan (UW), Hongtao Zhang (UW) </td>
          </tr>

          <tr><td>14</td>
            <td>SS-CF</td>
            <td><a href="/ss/SS-CF.html">Numerical Methods for Computationally Intensive Problems in Mathematical Finance</a></td>
            <td> Duy-Minh Dang (UW), Ken Jackson (University of Toronto)</td>
          </tr>

          <tr><td>15</td>
            <td>SS-CFDRA</td>
            <td><a href="/ss/SS-CFDRA.html"> Computational Fluid Dynamics for Real Applications</a></td>
            <td> Lakhdar Remaki (BCAM,
              Spain), Stéphane Moreau (Sherbrooke), Abdelkader Baggag (Laval)</td>
          </tr>

          <tr><td>16</td>
            <td>SS-SSMMBP</td>
<td><a href="/ss/SS-SSMMBP.html">Simulations in soft matter and molecular Bio-Physics</a></td>
<td> Cristiano L. Dias (New Jersey Institute of Technology)</td>
</tr>

            <tr><td>17</td>
<td>SS-MCMMBM</td>
<td><a href="/ss/SS-MCMMBM.html">Modeling and Computational Methods for Mathematical Biology and Medicine</a></td>
<td> Suzanne Shontz (Mississippi State), Corina Drapaca (Penn State), Siv Sivaloganathan (WLU)</td>
</tr>

            <tr><td>18</td>
<td>SS-MFMCR</td>
<td><a href="/ss/SS-MFMCR.html">Mathematical Finance - Modeling, Computation and Risk Management</a></td>
<td> Joe Campolieti, Adam Metzler (WLU)</td>
</tr>

            <tr><td>19</td>
<td>SS-MMNN</td>
<td><a href="/ss/SS-MMNN.html">Mathematical Models for Nanoscience and Nanotechnology</a></td>
<td> Z.L. Miskovic and A.H. Majedi (University of Waterloo)</td>
</tr>

            <tr><td>20</td>
<td>SS-MIPD</td>
<td><a href="/ss/SS-MIPD.html">Mathematical Immunology and Pathogen Dynamics</a></td>
<td> Jane Heffernan (CDM, Math & Stats, York U), Cameron Browne (University of Ottawa),
Stanca Ciupe (Virginia Tech University),
Jonathan Forde (Hobart and William Smith Colleges) </td>
</tr>

            <tr><td>21</td>
<td>SS-DFT</td>
<td><a href="/ss/SS-DFT.html">Density Functional Theory</a></td>
<td> Ian Hamilton (WLU), Paul Ayers (McMaster), Viktor Staroverov (Western) </td>
</tr>

            <tr><td>22</td>
<td>SS-HOMCFD</td>
<td><a href="/ss/SS-HOMCFD.html">High-Order Methods in Computational Fluid Dynamics</a></td>
<td> Lilia Krivodonova (UW) and Hans De Sterck (UW)</td>
</tr>

            <tr><td>23</td>
<td>SS-CMAIS</td>
<td><a href="/ss/SS-CMAIS.html">Control Methods for Advanced Industrial Systems</td>
<td>Behzad Samadi and J&uuml;rgen Gerhard (Maplesoft) </td>
</tr>

            <tr><td>24</td>
<td>SS-CSB</td>
<td><a href="/ss/SS-CSB.html">Computations in Systems Biology</a></td>
<td> Hin Hark Gan (NYU) and Gaurav Arya (UCSD) </td>
</tr>

            <tr><td>25</td>
<td>SS-SCT</td>
<td><a href="/ss/SS-SCT.html">Social Choice Theory</a></td>
<td>D. Marc Kilgour (Wilfrid Laurier University) and Marcus Pivato (Trent University)</td>
</tr>

            <tr><td>26</td>
<td>SS-MSEPSW</td>
<td><a href="/ss/SS-MSEPSW.html">Multitaper Spectrum Estimation, Prolate Spheroidal Wave Functions, Quadratic-Inverse, and Related Problems</a></td>
<td>  Wesley Burr, Charlotte Haley and David J. Thomson (Queen's University)</td>
</tr>

            <tr><td>27</td>
<td>SS-QCTA</td>
<td><a href="/ss/SS-QCTA.html">Quantum Control: Theory and Application</a></td>
<td>Lian-Ao Wu, (IKERBASQUE, Basque Foundation of Science and University of the Basque Country, Spain)</td>
</tr>

            <tr><td>28</td>
<td>SS-MHP</td>
<td><a href="/ss/SS-MHP.html">Mathematics of human placenta: a window into fetal origins of adult disease</a></td>
<td> C.M. Salafia, Placental Analytics, LLC, O. Shlakhter, Alberta Health Services, M. Yampolsky, Mathematics Department, University of Toronto</td>
</tr>

            <tr><td>29</td>
<td>SS-NMDAEA</td>
<td><a href="/ss/SS-NMDAEA.html">Numerical methods for differential-algebraic equations and applications</a></td>
<td>Andreas Griewank (Humbold University, Germany), Ned Nedialkov,John Pryce (Cardiff University, UK) </td>
</tr>

            <tr><td>30</td>
<td>SS-EHT</td>
<td><a href="/ss/SS-EHT.html">Energy Harvesting Technologies</a></td>
<td>Armaghan Salehian, (Universty of Waterloo)</td>
</tr>

            <tr><td>31</td>
<td>SS-RWFDNO</td>
<td><a href="/ss/SS-RWFDNO.html">Continuous-time random walks, fractional diffusion and non-local operators: Applications </td>
<td>Mark M. Meerschaert (Michigan State University, USA), Enrico Scalas (University of Eastern Piedmont, Italy and BCAM - Basque Center for Applied Mathematics, Basque Country, Spain)</td>
</tr>

            <tr><td>32</td>
<td>SS-HPTC</td>
<td><a href="/ss/SS-HPTC.html">Recent progress in hyperbolic problems: Theory and Computation</a></td>
<td>Jae-Hun Jung (SUNY University at Buffalo), Lilia Krivodonova (University of Waterloo), Allen Tesdall (CUNY College of Staten Island)</td>
</tr>

            <tr><td>33</td>
<td>SS-CDPB</td>
<td><a href="/ss/SS-CDPB.html">Complex Dynamics of Population Behaviour</a></td>
<td>Stephen Tully (Guelph), Scott Greenhalgh (Yale), Chad Wells (Yale), Chris Pagnutti (Guelph) </td>
</tr>

            <tr><td>34</td>
<td>SS-NCTAP</td>
<td><a href="/ss/SS-NCTAP.html">New Computational Techniques for Applied Problems in Science and Engineering </a></td>
<td>Ludwig Kohaupt (Beuth University of Technology Berlin), Yan Wu (Georgia Southern University)</td>
</tr>

            <tr><td>35</td>
<td>SS-ANMPDE</td>
<td><a href="/ss/SS-ANMPDE.html">Advanced Numerical Methods for PDEs and Applications</a></td>
<td>Christina C. Christara (University of Toronto), Peter A. Forsyth (University of Waterloo), Dong Liang (York University)</td>
</tr>

            <tr><td>36</td>
<td>SS-SAEEM</td>
<td><a href="/ss/SS-SAEEM.html">Statistical Aspects of Environmental and Ecological Modeling</a></td>
<td>Vyacheslav Lyubchich, Yulia R. Gel (University of Waterloo), Chad Shouquan Cheng (Meteorological Service of Canada, Environment Canada)</td>
</tr>

            <tr><td>37</td>
<td>SS-MACBE</td>
<td><a href="/ss/SS-MACBE.html">Modeling approaches and challenges in the build enviroment</a></td>
<td>Ryan Danks (RWDI), Michael Carl (RWDI)</td>
</tr>

            <tr><td>38</td>
<td>SS-SDAG</td>
<td><a href="/ss/SS-SDAG.html">Statistical Data Analysis and Geometry</a></td>
<td>Shoja Chenouri & Paul Marriott (University of Waterloo)</td>
</tr>

            <tr><td>39</td>
<td>SS-GLS</td>
<td><a href="/ss/SS-GLS.html">Geocomputational landscapes and spaces</a></td>
<td> Steven A. Roberts, Colin Robertson (WLU)</td>
</tr>

            <tr><td>40</td>
<td>SS-CMS</td>
<td><a href="/ss/SS-CMS.html">Computational Materials Science</a></td>
<td> Haipeng Wang (NPU and University of Toronto), Ziad Saghir (Ryerson University)</td>
</tr>

            <tr><td>41</td>
<td>SS-LSNE</td>
<td><a href="/ss/SS-LSNE.html">Lie symmetry and other approaches in theory and applications of nonlinear equations</a></td>
<td> C.M. Khalique (North-West University, RSA) and M. Abudiab (Texas A&M University, USA)</td>
</tr>



<! keep as last !>
<tr><td>42</td>
  <td>SS-RPSETS</td>
  <td><a href="/ss/SS-RPSETS.html">Recent progress in spintronics: Experiment, theory and simulation</a></td>
  <td> Jingrun Chen and Xu Yang (UC Santa Barbara) </td>
</tr>

<tbody>
</table>

<p>Please submit your abstract via the
  <a href="https://www.conference-service.com/ammcs2013/welcome.cgi">
  AMMCS-2013 Management System</a>. If you are submitting it to a special session,
  please consult with a session organizer first and, after obtaining his/her
  consent, submit it, clearly indicating your session ID code. Otherwise, your
  abstract will be considered for a contributed session. Each registered
  participant will obtain the AMMCS-2013 Book of Abstracts, along with the
  Program of the conference. </p>

<p>There will be also the AMMCS-2013 refereed proceedings,
  published after the conference. If you intend to submit your full conference
  paper to the proceedings, please go to the AMMCS-2013 Proceedings Page
  (hyperlink) and follow exactly the Author Instructions accessible from that
  page. Only the papers presented at the conference and accepted for
  publication through the referring process will be published in the AMMCS-2013
  proceedings. Submission of full conference papers is not mandatory.</p>

    <p>Extended versions of selected papers, presented at the
      conference, will be invited for several specialized <a
        href="/proceedings.html">scientific journals</a>.        </p>


{% endblock %}
