{% extends '_layout.html' %}
{% set active_page = 'submit-abstracts' -%}
{% block body %}

<h1>Submit Abstracts</h1>
  
<p>
  Abstracts are being accepted for special sessions, contributed sessions, and
  poster presentations. All participants should register and submit their
  abstracts online via the
  <a href="#">AMMCS-CAIMS2015 Management System (TBA)</a>.
</p>

<p>
  Abstracts must clearly define the objectives, status, methodology, results,
  and significance of the study. The length of abstract in your original
  submission should not exceed 1 page. It should be prepared according to the
  templates given below and submitted as a single pdf file.  Please note that:
</p>

<ul>
  <li>
    Each registered participant may have at most two presentations during the
    conference.
  </li>
  <li>
    All contents of registrations and abstracts should be in English.
  </li>
  <li>
    Your abstract (as a 
    <a href="/static/templates/Template-PDF-AMMCS2015.pdf">single pdf file</a>)
    must be uploaded on the conference management system as soon
    as possible, but not later than the official deadline. At least one
    author should be registered for your talk to be included in the program
    of the conference.
  </li>
  <li>
    Use this format (either 
    <a href="/static/templates/Template-Latex-AMMCS2015.tex">LaTeX</a>,
    which is the preferable option, or
    <a href="/static/templates/Template-Word-AMMCS2015.doc">MS Word</a>),
    without changing the settings, to prepare your one-page abstract (the resulting
    pdf file can be found 
    <a href="/static/templates/Template-PDF-AMMCS2015.pdf">here</a>).
  </li>
  <li>
    While submitting your abstract, complete all fields carefully and make
    sure that you indicated the correct ID of your session.
  </li>
</ul>

<div class='banner'>
  <a href="#">Follow this link to submit your abstract. (TBA)</a>
</div>

<p>
  We will confirm your submission. If your abstract is accepted, you will be
  invited to present your talk (either orally or as a poster). The Book of
  Abstracts of AMMCS-CAIMS2015, along with the program of the conference, will
  be included in your registration package.  Only registered participants who
  presented their talks will be eligible to submit their full conference papers
  for the AMMCS-CAIMS2015 Proceedings, publishable by a key international
  publisher. All AMMCS-CAIMS2015 proceedings conference papers will be
  refereed. Submission to the conference proceedings is not mandatory. Further
  details can be found at the 
  <a href="/proceedings/">AMMCS-CAIMS2015 Proceedings Page</a>.
</p>

{% endblock %}
