{% extends 'layout.html' %}
{% set active_page = 'travel-local-info' -%}
{% block body %}

<h1> Travel &amp Local Info </h1>

<p>The conference will be held at the Waterloo campus of Wilfrid Laurier University.  The city of Waterloo is easily reachable by air and ground transportation.  The campus is approximately a 25-minute drive away from <a href="http://www.waterlooairport.ca/">Waterloo International Airport</a>, 70 minutes from <a href="http://torontopearson.com/">Toronto Pearson International Airport</a>, and 80 minutes from <a href="http://www.flyhi.ca/">John C. Munro Hamilton International Airport</a>.</p>

<p>From Waterloo International Airport, the campus is most easily reached (if not renting a car) using one of the local taxi services: <a href="http://www.unitedtaxi.ca/">United Taxi</a>, <a href="http://www.citycabs.ca/">City Cabs</a>, or <a href="http://waterlootaxi.ca/">Waterloo Taxi</a>; for which the approximate cost of taxi trip will be $40.00. </p>

<p> From Toronto Pearson International Airport or John C. Munro Hamilton International Airport, the campus is most easily reached using <a href="http://www.airwaystransit.com/">Airways Transit</a>.
  Airways Transit connects Toronto Pearson airport with the Waterloo area providing 24 hour door to door shared ride service. <b>For Toronto Pearson airport transfers we have obtained a reduced conference fare of $58.00 per person, one way, tax included.</b> To receive the reduced fare you must book in advance and identify yourself as an AMMCS delegate when making your reservation.
  <ul>
    <li>Book online at: <a href="http://conferences.airwaystransit.com">http://conferences.airwaystransit.com</a> and enter booking code: AMMCS 2013
      <li>By phone 24 hrs: 519 886 2121 - Identify yourself as an AMMCS delegate.
      </ul>
    </p>

    <p>Reference <a href="http://www.wlu.ca/maps/directions.php">directions to the Waterloo campus</a>, <a href="http://www.wlu.ca/maps/">campus maps</a>, and <a href="http://www.wlu.ca/documents/47427/WLU_Parking_Map-feb_2011_8.5x11_.pdf">parking lot map</a> prior to departure.</p>

    <p>In addition to the aforementioned local taxi services, one may travel in Region of Waterloo using <a href="http://grt.ca">Grand River Transit</a>.  Wilfrid Laurier University is serviced by routes 7, 8, 12, 29, 200, and 201 on University Ave. W. and King St. N.  A <a href="http://www.grt.ca/en/routesschedules/routemap.asp">system map</a> and <a href="http://www.grt.ca/en/routesschedules/schedule.asp">route schedules</a> are available on Grand River Transit's Web site.  Intercity transit service is provided by <a href="http://gotransit.com">GO Transit</a>, <a href="http://viarail.ca">VIA Rail Canada</a>, <a href="http://greyhound.ca">Greyhound Canada</a>, <a href="http://coachcanada.com">Coach Canada</a>, and <a href="http://www.aboutown.com">Aboutown</a>.</p>

    <p>Local recommendations on various activities is provided below.  More comprehensive recommendations may be found on the Web sites of <a href="http://www.regionofwaterloo.ca/en/discoveringtheregion/discoveringtheregion.asp">Region of Waterloo</a>, <a href="http://www.explorewaterlooregion.com/">Explore Waterloo Region</a>, <a href="www.city.waterloo.on.ca/DesktopDefault.aspx?tabid=36">City of Waterloo</a>, <a href="http://www.kitchener.ca/en/visitingkitchener/VisitingKitchener.asp?_mid_=289">City of Kitchener</a>, and <a href="http://www.cambridge.ca/directory_menu.php?tp=4">City of Cambridge</a>.  Furthermore, <a href="http://greatcanadianholidays.com">Great Canadian Holidays</a> offers a number of tours that may be organized before or after the conference.</p>

    <p>Restaurants and Markets:</p>
    <ul>
      <li>Wildcraft Grill Bar (<a href="http://goo.gl/maps/JpWAm">425 King St. N., Waterloo</a>; 519-885-0117; <a href="http://charcoalgroup.ca/main5.cfm">charcoalgroup.ca</a>)</li>
      <li>Shoeless Joe's Sports Gill (<a href="http://goo.gl/maps/ezzSp">253 King St. N., Waterloo</a>; 519-208-2884; <a href="http://www.shoelessjoes.ca/">shoelessjoes.ca</a>)</li>
      <li>Itamae Sushi AYCE (<a href="http://goo.gl/maps/ezzSp">253 King St. N., Waterloo</a>; 519-886-8688)</li>
      <li>Quick Sandwiches (<a href="http://goo.gl/maps/50QFW">255 King St. N., Waterloo</a>; 519-886-7492; <a href="http://www.quicksandwiches.ca/">quicksandwiches.ca</a>)</li>
      <li>YoYo's Yogurt Cafe (<a href="http://goo.gl/maps/50QFW">255 King St. N., Waterloo</a>; 519-954-7379; <a href="http://www.yoyosyogurtcafe.com/">yoyosyogurtcafe.com</a>)</li>
      <li>Eataliano Panini & Pasta Ristorante (<a href="http://goo.gl/maps/50QFW">255 King St. N., Waterloo</a>; 519-208-9000)
        <li>Subway (<a href="http://goo.gl/maps/50QFW">255 King St. N., Waterloo</a>; 519-208-0076; <a href="http://subway.ca/">subway.ca</a>)</li>
        <li>Johnny Fresco (<a href="http://goo.gl/maps/L32Ij">244 Weber St. N., Waterloo</a>; 519-772-1122; <a href="http://www.johnnyfresco.ca/">johnnyfresco.ca</a>)</li>
        <li>The Charcoal Steak House (<a href="http://goo.gl/maps/YPVDW">2980 King St. E., Kitchener</a>; 519-893-6570; <a href="http://charcoalgroup.ca/main2.cfm">charcoalgroup.ca</a>)</li>
        <li>Langdon Hall (<a href="http://goo.gl/maps/dfvTB">1 Langdon Dr., Cambridge</a>; 519-740-2100; <a href="http://www.langdonhall.ca/viewpage.cfm?PageID=46">langdonhall.ca</a>)</li>
        <li>St. Jacobs Farmers' Market (<a href="http://goo.gl/maps/vssbm">878 Weber St. N., Waterloo</a>; 519-664-1133; <a href="http://stjacobs.com/farmers-market">stjacobs.com/farmers-market</a>)</li>
        <li>Kitchener Market (<a href="http://goo.gl/maps/rvARV">300 King St. E., Kitchener</a>; 519-741-2287; <a href="http://kitchenermarket.ca/">kitchenermarket.ca</a>)</li>
      </ul>

      <p>Museums and Galleries:</p>
      <ul>
        <li>The Canadian Clay and Glass Gallery (<a href="http://goo.gl/maps/ebhVK">25 Caroline St. N., Waterloo</a>; 519-746-1882; <a href="http://theclayandglass.ca">theclayandglass.ca</a>)</li>
        <li>THEMUSEUM (<a href="http://goo.gl/maps/xnimH">10 King St. W., Kitchener</a>; 519-749-9387; <a href="http://themuseum.ca">themuseum.ca</a>)</li>
        <li>Kitchener-Waterloo Art Gallery (<a href="http://goo.gl/maps/dUReL">101 Queen St. N., Kitchener</a>; 519-579-5860; <a href="http://kwag.ca/">kwag.ca</a>)</li>
        <li>Waterloo Region Museum (<a href="http://goo.gl/maps/GnwcD">10 Huron Rd., Kitchener</a>; 519-748-1914; <a href="http://waterlooregionmuseum.com">waterlooregionmuseum.com</a></li>
        <li>Cambridge Butterfly Conservatory (<a href="http://goo.gl/maps/vwEv2">2500 Kossuth Rd., Cambridge</a>; 519-653-1234; <a href="http://cambridgebutterfly.com">cambridgebutterfly.com</a>)</li>
      </ul>

      <p>Theatres and Cinemas:</p>
      <ul>
        <li>Princess Cinemas (<a href="http://goo.gl/maps/JLkhR">6 Princess St. W., Waterloo</a> and <a href="http://goo.gl/maps/QtXdD">46 King St. N., Waterloo</a>; 519-884-5112; <a href="http://princesscinemas.com">princesscinemas.com</a>)</li>
        <li>Galaxy Cinemas Waterloo (<a href="http://goo.gl/maps/Yegfv">550 King St. N., Waterloo</a>; 519-883-4268; <a href="http://cineplex.com/Theatres/TheatreDetails/Galaxy-Cinemas-Waterloo.aspx">cineplex.com</a>)</li>
        <li>Empire Theatres Waterloo (<a href="http://goo.gl/maps/tQM4u">415 The Boardwalk, Waterloo</a>; 519-576-0000; <a href="http://http://www.empiretheatres.com/theatres/waterloo-empire-theatres-waterloo">empiretheatres.com</a>)</li>
        <li>Centre In The Square (<a href="http://goo.gl/maps/TTLFY">101 Queen St. N., Kitchener</a>; 519-578-1570; <a href="http://centre-square.com">centre-square.com</a>)</li>
      </ul>

      <p>Shopping:</p>
      <ul>
        <li>Conestoga Mall (<a href="http://goo.gl/maps/ZPJnj">550 King St. N., Waterloo</a>; 519-886-5500; <a href="http://conestogamall.com">conestogamall.com</a>)</li>
        <li>The Boardwalk (<a href="http://goo.gl/maps/64ebd">101 Ira Needles Blvd., Waterloo</a>; 519-744-6464; <a href="http://the-boardwalk.ca">the-boardwalk.ca</a>)</li>
        <li>Fairview Park (<a href="http://goo.gl/maps/Vrnyz">2960 Kingsway Dr., Kitchener</a>; 519-894-2450; <a href="http://fairviewpark.ca">fairviewpark.ca</a>)</li>
        <li>Cambridge Centre (<a href="http://goo.gl/maps/C0HbR">355 Hespeler Rd., Cambridge</a>; 519-624-9415; <a href="http://cambridge-centre.com">cambridge-centre.com</a>)</li>
      </ul>

      <p>Recreation:</p>
      <ul>
        <li>Grey Silo Golf Course (<a href="http://goo.gl/maps/4rCq0">2001 University Ave. E., Waterloo</a>; 519-664-2851; <a href="http://golfgreysilo.ca">golfgreysilo.ca</a>)</li>
        <li>Laurel Creek Conservation Area (<a href="http://goo.gl/maps/RNX96">625 Westmount Rd., Waterloo</a>; 519-884-6620; <a href="http://www.grandriver.ca/index/document.cfm?Sec=27&Sub1=127&sub2=0">grandriver.ca</a>)</li>
        <li>Chicopee Ski &amp; Summer Resort (<a href="http://goo.gl/maps/c1yN9">396 Morrison Rd., Kitchener</a>; 519-894-5610; <a href="http://discoverchicopee.com">discoverchicopee.com</a>)</li>
        <li>Shade's Mills Conservation Area (<a href="http://goo.gl/maps/TjZRQ">450 Avenue Rd., Cambridge</a>; 519-621-3697; <a href="http://www.grandriver.ca/index/document.cfm?Sec=27&Sub1=131&sub2=0">grandriver.ca</a>)</li>
        <li>Conestogo Lake Conservation Area (<a href="http://goo.gl/maps/a1DrO">6580 Wellington County Rd., Wallenstein</a>; 519-638-2873; <a href="http://www.grandriver.ca/index/document.cfm?Sec=27&Sub1=123&sub2=0">grandriver.ca</a>)</li>
      </ul>

      <p>Campus Recommendation:</p>
      <img src="/static/images/WLU_map.png" width = 400 />
      <img src="/static/images/bricker.png" width = 400 />

      <p>In order to find out if you will require a visa to enter Canada, refer to Government of Canada's <a href="http://www.cic.gc.ca/english/visit/visas.asp">Find out if you need a visa to enter Canada as a visitor</a> page.  Nearby Canadian embassies and consulates may be found on the Foreign Affairs and International Trade Canada's <a href="http://www.international.gc.ca/ciw-cdm/embassies-ambassades.aspx">Canadian Offices Abroad</a> page.</p>

      <p>If you need a visa to enter Canada and you have an accepted paper to present at AMMCS-2013, then we will issue an official invitation letter to you.  In order to receive the said letter you are required to submit the following documentation:</p>

      <ol type="a">
        <li>a scanned copy of your passport,</li>
        <li>your institutional postal address,</li>
        <li>your institutional email address, and</li>
        <li>the title of your accepted paper to be presented at the conference.</li>
      </ol>

      <p>This documentation is to be sent to ammcs2013@wlu.ca with the subject line "Request for AMMCS-2013 visa invitation letter".  The conference will be unable to process your request for a visa invitation letter if any of the documentation items are missing.  If you require an official document, for funding purposes, stating that you will be travelling to Canada to attend AMMCS-2013, please send the request to ammcs2013@wlu.ca.  Please ensure that the aforementioned matters are dealt with as early as possible in order to allow sufficient time for unexpected difficulties or delays.</a></p>

    {% endblock %}
