{% extends '_layout.html' %}
{% set active_page = 'venue-accommodation' -%}
{% block body %}

<h1>Venue &amp; Accommodation</h1>

<p>The conference will be taking place in the Bricker Academic
Building (abbreviated as BA) located on the Waterloo Campus of
Wilfrid Laurier University (see <a href=
"http://www.wlu.ca/maps/campusmap.php">this map</a>). The
building is adjacent to the Science Research Centre.</p>

<p>Information regarding accommodation in Waterloo can be found
in the Visitor Guide, available online. However, group
reservations have been made with the following hotels to offer
discounts to the conference participants. Participants should
make, as soon as possible, their reservations directly with the
hotel (either by phone or by email - the contact information is
given below) by quoting the "AMMCS-2015 conference" in order to
receive the special discounted price.</p>

<p>The cut-off date for the quoted below discounted prices is
July 24, 2015. Waterloo, with nearby Kitchener and Cambridge, is
an important North American hub of business, located in close
proximity to Toronto and the Niagara Falls. Therefore, hotel
accommodation is subject to request and limited availability.
Reservations are made on the first-come, first-served basis and
we highly recommend making your reservation as soon as
possible:</p>

<ul>
  <li>
    <p><a href="http://www.choicehotels.ca/?cid=498877">Comfort
    Inn</a> (check hotels in Waterloo, ON): $109.99 for
    single/double occupancy, 1 or 2 Queen size beds, excluding
    taxes and breakfast, including wireless and parking. Contact:
    Tel. 1-519-7479400 Email: cn314@whg.com</p>
  </li>

  <li>
    <p><a href="http://www.destinationinn.com/">Destination
    Inn</a>: $129 for single/double occupancy, 1 or 2 Queen size
    beds, and $149 for single/double occupancy (+$10 for each
    additional person per night) for suites (1 King size bed +
    Pull out, or, 2 Queen size beds + Pull out). All prices
    exclude taxes and include a continental breakfast, wireless
    and parking. This hotel located in front of the Conestoga
    Mall, is located near restaurants and theater: there is a
    shuttle for maximum 6 people to WLU, and is on the route of
    the public bus #7 which stops on King Street near the Science
    Building. Contact: Tel. 1-866-222-9175 Email:
    info@destinationinn.com</p>
  </li>

  <li>
    <p><a href="http://www.waterlooinn.com/">Waterloo Inn</a>:
    $139 for single/double occupancy, 1 or 2 Queen size beds,
    excluding taxes and breakfast, This hotel is located near
    restaurants: there is a there is a shuttle service to the
    University and is on the route of the public bus #7. Contact:
    Tel. 1-800-3614708 Email:schilder@waterlooinn.com</p>
  </li>

  <li>
    <p><a href="http://www.thewaterloohotel.ca/">The Waterloo
    Hotel</a>: $150 for single/double occupancy, 1 or 2 Queen
    size beds, excluding taxes, including an $8 breakfast
    voucher, wireless and parking. This hotel is located downtown
    Waterloo, near restaurants, theaters, shops, and is on the
    route of the public bus #7 which stops on King Street near
    the Science Building. Contact: Tel. 1-877-8551890 Email:
    info@thewaterloohotel.ca</p>
  </li>

  <li>
    <p><a href=
    "http://www.marriott.com/hotels/travel/ykfcy-courtyard-waterloo-st-jacobs/">
    Courtyard by Marriott</a>: $139 for single/double occupancy,
    1 or 2 Queen size beds, excluding taxes, All rooms are
    equipped with complimentary high-speed internet access.
    Contact: Tel. 50 Benjamin Rd. E. / Office: 519-884-1426 Toll
    Free Direct Reservations: 1-800-972-5371, Fax: 519-884-2532
    Email: sales@stjacobscountryinn.com</p>
  </li>

  <li>
    <p><a href="http://kitchener-hotel.com/">Kitchener-Waterloo
    Hotel &amp; Conference Centre</a>: (formally Delta
    Kitchener-Waterloo) is a short driving distance to Wilfrid
    Laurier, has over 100 local restaurants within walking
    distance, parking available on site, and the bus terminal is
    also a short walking distance. Being in the heart of downtown
    Kitchener we close too all this historic region has to offer.
    $115 plus taxes for single and double occupancy, and an
    additional $7 per person. this rate includes a continental
    breakfast per person. All guestrooms come with complimentary
    wifi, coffee &amp; tea, and a fridge and microwave. Parking
    is available on site a discounted rate of $5 per vehicle per
    night. Phone: 519-744-4141, Fax: 519-744-1314, Reservations:
    888-890-3222</p>
  </li>

  <li>
    <p><a href=
    "http://www.ihg.com/holidayinnexpress/hotels/us/en/waterloo/ykwws/hoteldetail">
    Holiday Inn Express</a>: located in the heart of Southern
    Ontario and is steps to the St. Jacob's Farmer's Market,
    Antique Market, and Factory Outlet Mall. Our location is just
    over an hour west of Toronto and is only a short drive from
    the Region of Waterloo International Airport (YKF). We
    proudly offer complimentary Express Start Breakfast featuring
    two hot items daily omelets with cheese or scrambled eggs,
    sausage or bacon, and biscuits. 14 Benjamin Road. Book online
    or call: 1 877 660 8550.</p>
  </li>

  <li>
    <p>For an economical alternative, participants may wish to
    stay at the University of Waterloo Conference Centre which is
    not far from Wilfrid Laurier University (see <a href=
    "https://uwaterloo.ca/map/">map of surrounding area</a>). The
    student residences are comfortable and convenient. The
    nightly price includes a continental breakfast, parking,
    Internet and use of the recreational facilities. The two
    options include:</p>

    <p>To make a guest room reservation at the <a href=
    "http://www.conferences.uwaterloo.ca/">University of Waterloo
    Conference Centre</a>, you can complete the reservation form
    either <a href=
    "https://fortuna.uwaterloo.ca/conferences/">online</a> or in
    <a href=
    "https://fortuna.uwaterloo.ca/conferences/Conference%20Centre%20reservation%20form.pdf">
    PDF format</a> and fax it at (519) 746-7599 or e-mail it at
    accombook@uwaterloo.ca.</p>

    <p>Once this reservation form is submitted please note that a
    deposit will be processed on your credit card. Single Room
    will be charged $50.00 and Double Room will be charged
    $70.00.</p>
  </li>

  <li><b>For students participants:</b> Limited accommodation is
  available at Wilfrid Laurier University from August 25-30th for
  student participants attending AMMCS. Just steps from
  conference sessions, accommodation includes private bedrooms
  with semi-private washrooms. Each air-conditioned bedroom
  includes a single bed, desk and closet unit. Common lounges are
  located on each floor. Guests may select the individual to
  share the semi-private washroom with or they will be placed
  beside an individual of the same gender. The rate is
  $45.00/night, plus 13% HST. For more information or to register
  for accommodation please contact conferences@wlu.ca or call
  519-884-0710 x3958 or x2771.</li>
</ul>

<p>Further details on Travel and Local Information can be found
here.</p>

<p>Accessibility Statement: AMMCS-CAIMS-2015 is committed to creating an
  accessible environment for all.</p>

{% endblock %}
