{% extends '_layout.html' %}
{% set active_page="awards" %}
{% block body %}

<h1>AMMCS-CAIMS 2015 Awards and Prizes</h1>

<h2>Student Prize Winners</h2>

<style>
  span.name { font-weight: bold }
</style>

<p>Poster session:
  <ol class="ordinal">
    <li><span class="name">Keegan Keplinger</span> (University of Waterloo) - Switching dynamics in the Aplysia bag cell neuron</li>
    <li><span class="name">Steven ten Holder</span> (University of Waterloo) - Elimination of bacterial plasmids by engineered unilateral incompatibility</li>
  </ol>
</p>

<p>Special Session (SS) category:
  <ol class="ordinal">
    <li><span class=name>James McVittie</span> (University of Toronto) - Viral Information Propagation</li>
    <li><span class=name>Joshua Dunn</span> (Western University) - The Emergence of Cooperative Breeding Systems with Resource Allocation</li>
  </ol>
</p>

<p>Special Session (ST) category:
  <ol class="ordinal">
    <li><span class=name>Alexandra Tcheng</span> (McGill) - A fast-marching method for non-monotonically evolving fronts</li>
    <li><span class=name>Bamdad Hosseini</span> (Simon Fraser University) - Smooth regularizations of the Dirac delta distribution</li>
  </ol>
</p>

<p>Contributed Session (CS) category:
  <ol class="ordinal">
    <li><span class=name>Ben Fraser</span> (Nipissing) - Persistent Homology for Analyzing Environmental Lake Monitoring Data</li>
    <li><span class=name>Alena Antipova</span> (Western University) - Dynamics of disc-shaped colloids in nematic liquid crystal</li>
  </ol>
</p>

<h2>The AMMCS Kolmogorov-Wiener Prize for Young Researchers</h2>

<p>
  <b>Benjamin Adcock</b> (Simon Fraser University) for his interdisciplinary work in mathematics centered on sampling theory and compressed sensing.
</p>

<p style="padding: 0px 20px">
  <b><i>Award citation:</i></b>
  Benjamin Adcock received his PhD from the University of Cambridge in 2010.
  After his graduation, he received NSERC and PIMS Postdoctoral Fellowships and
  was carrying his research at Simon Fraser University. In 2012 he joined Purdue
  University as an Assistant Professor. Since August 2014 he is on the faculty of
  mathematics at Simon Fraser University. Dr. Adcock’s research interests include
  applied and computational harmonic analysis, sampling theory, compressed
  sensing, as well as approximation theory and numerical analysis. He made
  original significant contributions to sampling theory and compressed sensing
  which have potential applications in the areas ranging from medical imaging to
  geophysical signal processing. At the time of the award, he has published
  twenty journal publications, most of which are in the top tier journals of his
  field. Dr. Adcock’s work bridges the gap between theory and practice by
  developing and applying highly innovative mathematical tools.
</p>

<h2>Student Travel Awards</h2>

<p>
  <ul>
    <li>Morgan Craig (University of Montreal)</li>
    <li>Mohammad Hossain (Memorial University of NFLD)</li>
    <li>Bamdad Hosseini (Simon Fraser University)</li>
    <li>Sebastian Lindner (University of Calgary)</li>
    <li>Anton Mosunov (University of Waterloo)</li>
    <li>Louis-Xavier Proulx (University of Montreal)</li>
    <li>Seda Arat (Virginia Tech)</li>
    <li>Carlos Perez-Arancibia (Caltech)</li>
    <li>Andrei Tarfula (Princeton)</li>
    <li>Mariusz Bodzioch (University of Warmia - Poland)</li>
    <li>Ali Iftikar (King Fahd University of Petroleum and Minerals - Saudi Arabia)</li>
    <li>Mohammad Zafar (Indian Institute of Technology - India)</li>
  </ul>
</p>

{% endblock %}
