{% extends '_layout.html' %}
{% set active_page = 'conference-program' -%}
{% block body %}

<h1>Congress Program</h1>

<p>
  The current version of the Congress Program can be found
  <a href='/static/files/AMMCS-CAIMS2015-Congress-Program-Online.pdf'>here</a>.
</p>
<p> Please also see: </p>
<ul>
  <li><a href="/static/conference/Page1-Instructions_for_speakers.pdf">Instructions for Speakers</a></li>
  <li><a href="/static/conference/Page2-Instructions_for_Posters.pdf">Instructions for Poster Presenters</a></li>
  <li><a href="/static/conference/Page3-Instructions_for_Session_Chairs.pdf">Instructions for Session Chairs</a></li>
</ul>
<p>
  The current electronic version of the 2015 AMMCS-CAIMS Book of Abstracts can be found
  <a href='/static/files/AMMCS-CAIMS2015-Book-of-Abstracts.pdf'>here</a>.
</p>


{% endblock %}
