{% extends '_layout.html' %}
{% set active_page = 'deadlines-payment' -%}
{% block body %}

<h1>Deadlines and Registration Fees</h1>

<p>
  <b>Registration for the conference is open:</b>
  <a href="{{registration_link}}">Please follow this link</a>.
</p>

<ul>
  <li> Deadline for minisymposia/special sessions proposals: January 10, 2015.  </li>
  <li> Deadline for <a href="/submit-abstracts/">submissions of abstracts</a>: March 1, 2015 (<u><strong>Extended till March 13, 2015</strong></u>). </li>
  <li> Decision on abstracts: March 15, 2015.  </li>
  <li> Early Bird Registration: March 31, 2015.  </li>
  <li> Deadline for author registration: March 31, 2015.  </li>
  <li> Publication of full program: April 30, 2015.  </li>
</ul>

<p>Early bird registration fees are as follows:
  <ul>
    <li> Regular participant: $300 </li>
    <li> CAIMS member: $280 </li>
    <li> Postdoctoral fellow: $150 </li>
    <li> Professor Emeritus: $150 </li>
    <li> Students: $100 </li>
    <li> Accompanying person: $100 </li>
    <li> Congress banquet (to be held on Thursday): $70 </li>
    <li> CFDSC<a class="footnote-btn" href="#footnote-1">*</a> regular participant: $400 </li>
    <li> CFDSC<a class="footnote-btn" href="#footnote-1">*</a> student/postdoctoral fellow: $200 </li>
  </ul>
</p>

{% set reg_deadline = "March 31, 2015" %}

<p>Please note that:
  <ol>
    <li>
      After {{ reg_deadline }} registration fees increase by $50 in each of the
      above eight categories of participants.
    </li>
    <li>
      IMPORTANT: To be included in the program, all authors presenting their
      papers at the conference should register before the author registration
      deadline ({{ reg_deadline }}).
    </li>
    <li>
      For minisymposia/special session organizers and plenary speakers
      registration fees are waived.
    </li>
    <li>
      Full refund of registration fees can be made only prior to April 15, 2015
      and 50% refund until April 30, 2015 (minus credit card surcharge, the
      conference treasurer can be contacted at
      <a href='mailto:zwang@wlu.ca'>zwang@wlu.ca</a>).
      No refund can be made after this date.
    </li>
    <li>
      Payments can be made by credit card. Please follow
      <a href="{{registration_link}}">this link</a>
      to register and pay your registration fees.
    </li>
  </ol>
</p>

<span class="footnote" id="footnote-1">CFDSC registration fees include the CFDSC banquet, held on Tuesday, and one lunch</span>

<script type="text/javascript">
  function each(array, callback) {
    for (var i = 0; i < array.length; i++) {
      callback(array[i]);
    }
  }
  function clickhandler(id) {
    var allFootnotes = document.getElementsByClassName('footnote');
    each(allFootnotes, function(footnote) {
      var bgColour = (footnote.id === id) ? 'yellow' : null;
      footnote.style.backgroundColor = bgColour;
      if (bgColour !== null) {
        setTimeout(function() {
          footnote.style.backgroundColor = null;
        }, 1000);
      }
    });
  }
  var footnotes = document.getElementsByClassName('footnote-btn');
  each(footnotes, function(footnote) {
    footnote.onclick = function() {
      var id = footnote.attributes.href.value.slice(1);
      clickhandler(id);
    }
  });
</script>

{% endblock %}
