{% extends '_layout.html' %}
{% set active_page = 'kolmogorov-wiener-prize' -%}
{% block body %}

<h1>AMMCS Kolmogorov-Wiener Prize for Young Researchers</h1>

<p>
  This year
  <a href='http://www.ms2discovery.wlu.ca/kolmogorov_wiener_prize'>the AMMCS Kolmogorov-Wiener Prize for Young Researchers</a>
  will also be awarded. The competition for this award is open to young researchers in
  the category of recent PhD graduates and postdoctoral fellows under the
  age of 35. The eligibility criteria include young researchers who
</p>

<ol type='a'>
  <li>
    have earned their PhD degrees within 5 years of January 1 of the year
    of the award;
  </li>
  <li>
    have at least two peer refereed publications, minimum one of which
    has appeared in an internationally recognized journal;
  </li>
  <li>
    have presented their talks at an AMMCS event in the year of the
    award.
  </li>
</ol>

<p>
  The competition is open to both Canadian and international applicants.
  Details of the application package can be found at
  <a href="http://www.ms2discovery.wlu.ca/kolmogorov_wiener_prize">this page</a>.
  Your complete application package should be sent with subject line "AMMCS
  Kolmogorov-Wiener Young Researcher Award" by June 5, 2015 to
  <a href='mailto:ammcs-caims2015@wlu.ca'>ammcs-caims2015@wlu.ca</a>
</p>
<p>
  Payment of the above award will be made to recipients after they have
  attended the conference.
</p>

{% endblock %}
