{% extends '_layout.html' %}
{% set active_page = 'plenary-speakers' -%}
{% block body %}

<h1>Plenary Speakers</h1>

<p> Confirmed plenary speakers at this congress include (with links to the abstracts of their talks): </p>

<ul>
  {% for name, first, last, inst, _ in plenary_as_list|sort(attribute=2) %}
  <li><a href="{{name}}/">{{first}} {{last}}</a> ({{inst}})</li>
  {% endfor %}
</ul>

<p>Semi-plenary speakers at this congress include:</p>

<ul>
  {% for name, first, last, inst, _ in semi_plenary_as_list|sort(attribute=2) %}
  <li><a href="{{name}}/">{{first}} {{last}}</a> ({{inst}})</li>
  {% endfor %}
</ul>

{% endblock %}
