{% extends '_layout.html' %}
{% set active_page = 'student-prize-support' -%}
{% block body %}

<h1>Student Prize Competition</h1>

<p>
  To be eligible you must be a student and must be giving an oral presentation
  or be the presenting author for a poster.
</p>
<p>
  Each of the prizes will be judged by a panel that will do its best to attend
  all relevant student presentations. We are asking students to self-identify
  themselves during the registration procedure and let the Conference
  Organisers know if you wish to be considered.
</p>
<p>
  Three separate competitions will be held for undergraduate and graduate
  students:
</p>
<ol>
  <li>
    The Best AMMCS-CAIMS2015 Poster. To be eligible, the student must be a
    co-author of the work presented and a designer of the poster. This
    competition will include a 10 minute discussion related to the content of
    the poster with a judging panel. The scheduling for the poster
    presentations will appear in the final program.
  </li>
  <li>
    The Best AMMCS-CAIMS2015 Student Paper in a Special Session. To be
    eligible, the student must be a co-author of the work and present it during
    one of the Special Sessions or Minisymposia.
  </li>
  <li>
    The Best AMMCS-CAIMS2015 Student Paper in a Contributed Session. To be
    eligible, the student must be a co-author of the work and present it during
    one of the Contributed Sessions.
  </li>
</ol>
<p>
  Several other awards are available for Young Researchers, including
  postdoctoral fellows. Follow
  <a href="/young-researchers-prizes-fellowships/">this link</a>
  for more details.
</p>

<hr>

<h2>Student Support </h2>
<p>
  We expect a limited number of partial travel scholarships to become
  available to qualified applicants. In order to apply, please submit:

  <ol type='a'>
    <li>cover letter highlighting how you would benefit from attending AMMCS-CAIMS2015,</li>
    <li>
      your CV with brief summary of your research interest and accomplishments
      to date, and
    </li>
    <li>
      the abstract of your presentation.
    </li>
  </ol>

  {% set email = "mailto:cweatherby@wlu.ca?subject=AMMCS-CAIMS2015 Travel Award&cc=ammcs-caims2015@wlu.ca" %}

  Please indicate in your cover letter if you submitted the full paper to the Proceedings of
  AMMCS-CAIMS2015. The complete package should be sent with subject line "AMMCS-CAIMS2015 Travel Award"
  by March 25, 2015 to the Chair of Student Prize Committee <a href='{{ email }}'>cweatherby@wlu.ca</a>
  with cc to <a href='{{ email }}'>ammcs-caims2015@wlu.ca</a>.
</p>

{% endblock %}
