{% extends '_layout.html' %}
{% set active_page = 'venue-accommodation' -%}
{% block body %}

<h1>Venue &amp; Accommodation</h1>

<p>The conference will be taking place in the Bricker Academic
Building (abbreviated as BA) located on the Waterloo Campus of
Wilfrid Laurier University (see <a href=
"http://www.wlu.ca/maps/campusmap.php">this map</a>). The
building is adjacent to the Science Research Centre.</p>

<div class='pure-g'>
  <div class='pure-u-1-3'> <img src='/static/images/venue/brickeracademic1.jpg'> </div>
  <div class='pure-u-1-3'> <img src='/static/images/venue/sign.jpg'> </div>
  <div class='pure-u-1-3'> <img src='/static/images/venue/sciencebldg1.jpg'> </div>
</div>

<p>
  Information regarding accommodation in Waterloo can be found in the Visitor
  Guide, available online. However, group reservations have been made with the
  following hotels to offer discounts to the conference participants.
  Participants should make, as soon as possible, their reservations directly
  with the hotel (either by phone or by email - the contact information is
  given below) by quoting the "AMMCS-CAIMS2015 conference" in order to receive
  the special discounted price.
</p>
<p>
  The cut-off date for the quoted below discounted prices is April 26, 2015.
  Waterloo, with nearby Kitchener and Cambridge, is an important North American
  hub of business, located in close proximity to Toronto and the Niagara Falls.
  Therefore, hotel accommodation is subject to request and limited
  availability.  Reservations are made on the first-come, first-served basis
  and we highly recommend making your reservation as soon as possible:
</p>

<ul>
  <li>
    <b>Hotel Laurier</b>: Conveniently located only steps away from AMMCS-CAIMS
    sessions, residence accommodation is an ideal and economical choice.
    Dormitory or apartment style accommodation is available.  Rates are
    between $58.00/night to $78.00 per night and include a  hot breakfast,
    wireless Internet and parking. We invite AMMCS-CAIMS Congress 2015
    participants to experience the Laurier campus. Online reservations will be
    available starting in January. To reserve accommodation prior to that
    date, please go to <a href="https://accommodations.laurierconferences.ca/AMMCS-CAIMS/">accommodations.laurierconferences.ca/AMMCS-CAIMS</a>
    or call 519-884-0710, x3958.
  </li>

  <li>
    <a href="http://www.choicehotels.ca/?cid=498877">Comfort Inn</a>:
    (search hotels in Waterloo, ON): $109.99 for
    single/double occupancy, 1 or 2 Queen size beds, excluding
    taxes and breakfast, including wireless and parking. Contact:
    Tel. 1-519-747-9400 Email: <a href="mailto:cn314@whg.com">cn314@whg.com</a>
  </li>

  <li>
    <a href="http://www.fourpointswaterlookitchener.com/">Four Points by Sheraton Waterloo-Kitchener</a>:
    $129 for single/double occupancy, 1 or 2 Queen size beds, and $149 for
    single/double occupancy (+$10 for each additional person per night) for
    suites (1 King size bed + Pull out, or, 2 Queen size beds + Pull out).
    All prices exclude taxes and include a continental breakfast, wireless
    and parking. This hotel located in front of the Conestoga Mall, is
    located near restaurants and theater: there is a shuttle for maximum 6
    people to WLU, and is on the route of the public bus #7 which stops on
    King Street near the Science Building. Contact: Tel. 1-866-222-9175
    Email: <a href="mailto:info@fourpointswaterloo.com">info@fourpointswaterloo.com</a>
  </li>

  <li>
    <a href="http://www.waterlooinn.com/">Waterloo Inn</a>:
    $129 for single/double occupancy, 1 or 2 Queen size beds, excluding taxes,
    This hotel is located near restaurants: there is a shuttle service to the
    University and is on the route of the public bus #7.  Complimentary Shuttle
    Service provided to guests staying at the Waterloo Inn Conference Hotel.
    Breakfast Buffet for hotel guests included in their room rate – includes
    seasonal fruit, yogurt, pastries/egg/meat.
    Contact: Tel. 1-800-361-4708 Email:
    <a href="mailto:schilder@waterlooinn.com">schilder@waterlooinn.com</a>
  </li>

  <li>
    <a href="">Delta Waterloo</a>:
    $149 for single/double occupancy, excluding taxes.  We are
    conveniently located in the heart of Uptown Waterloo, and close proximity to
    Wilfrid Laurier University.  Enjoy your stay in our ModeRoom guestrooms, full
    service restaurant, fitness room and pool.  Contact 888-890-3222 or
    <a href="mailto:wat.sales.sm@deltahotels.com">wat.sales.sm@deltahotels.com</a>
    for reservations.  Please quote block <b>AMMC0815</b>.
  </li>

  <li>
    <a href="http://www.thewaterloohotel.ca/">The Waterloo Hotel</a>: $150 for
    single/double occupancy, 1 or 2 Queen size beds, excluding taxes, including
    an $8 breakfast voucher, wireless and parking. This hotel is located
    downtown Waterloo, near restaurants, theaters, shops, and is on the route
    of the public bus #7 which stops on King Street near the Science Building.
    Contact: Tel. 1-877-855-1890 Email: <a href="mailto:info@thewaterloohotel.ca">info@thewaterloohotel.ca</a>
  </li>

  <li>
    <a href="http://www.marriott.com/hotels/travel/ykfcy-courtyard-waterloo-st-jacobs/">
    Courtyard by Marriott</a>: $139 for single/double occupancy,
    1 or 2 Queen size beds, excluding taxes, All rooms are
    equipped with complimentary high-speed internet access.
    Contact: Tel. 50 Benjamin Rd. E. / Office: 519-884-1426 Toll
    Free Direct Reservations: 1-800-972-5371, Fax: 519-884-2532
    Email: <a href="mailto:sales@stjacobscountryinn.com">sales@stjacobscountryinn.com</a>
  </li>

  <li>
    <b>Homewood Suites by Hilton Waterloo-St.Jacobs:</b> $139 for a King Studio
    Suite (1 King Bed, 1 Queen size pull out couch), $149 for a 1 Bedroom Queen
    Suites (2 Queen Beds, 1 Queen size pull out couch). All rooms are suite
    style with full kitchens. All prices exclude taxes and include a hot buffet
    breakfast daily, a complimentary dinner Monday-Thursday, WiFi, free
    parking, and a corporate shuttle to WLU. Take advantage of our great
    amenities, such as our swimming pool, fitness centre, outdoor patio/BBQ
    area and mini golf green.
    Contact: Telephone. 519-514-0088
    Email:
    <a href="mailto:Reservations@homewoodsuitesstjacobs.com">
      Reservations@homewoodsuitesstjacobs.com
    </a>
  </li>

  <li> <a href="http://bit.ly/1vkUndT">Crowne Plaza Kitchener-Waterloo</a>:
    Crowne Plaza Kitchener-Waterloo is a short driving distance to Wilfrid
    Laurier, has over 100 local restaurants within walking distance, parking
    available on site, and the bus terminal is also a short walking distance.
    Being in the heart of downtown Kitchener we close to all this historic
    region has to offer. $115
    plus taxes for single and double occupancy, and an additional $7 per person.
    This rate includes a continental breakfast per person. All guestrooms come with
    complimentary wifi, coffee &amp; tea, and a fridge and microwave. Parking is
    available on site a discounted rate of $5 per vehicle per night. Phone:
    519-744-4141, Fax: 519-744-1314, Reservations: 1-877-408-6665
  </li>

  <li>
    <a href=
    "http://www.ihg.com/holidayinnexpress/hotels/us/en/waterloo/ykwws/hoteldetail">
    Holiday Inn Express</a>: located in the heart of Southern Ontario and is
    steps to the St. Jacob's Farmer's Market, Antique Market, and Factory Outlet
    Mall. Our location is just over an hour west of Toronto and is only a short
    drive from the Region of Waterloo International Airport (YKF). We proudly
    offer complimentary Express Start Breakfast featuring two hot items daily
    omelets with cheese or scrambled eggs, sausage or bacon, and biscuits. 14
    Benjamin Road. Book online or call: 1-877-660-8550.
  </li>

</ul>

<p>Further details on Travel and Local Information can be found
here.</p>

<p>Accessibility Statement: AMMCS-CAIMS2015 is committed to creating an
  accessible environment for all.</p>

{% endblock %}
