.header {
  padding-bottom: 3em;
  border-bottom: 1px solid $border-colour;

  background: url('/static/images/fibopt.png') no-repeat;
  background-size: auto 100%;
  background-color: black;

 .ammcs-logo {
    background: url('/static/images/logo/logo-web.png') no-repeat;
    background-size: contain;
    background-position: center right;
    height: 100px;
  }
  .ammcs-title {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-align: left;
    padding-left: 10px;
    font-family: 'Lato', sans-serif;
    text-shadow: 0px 0px 1px black, 0px 0px 1px black, 0px 0px 3px black;

    h1 { // The 2015 AMMCS-CAIMS Congress
      color: $ammcs-blue;
      font-weight: bold;
      font-style: italic;
      font-size: 40px;
    }
    h2 { // Interdisciplinary AMMCS Conference Series
      color: #bbb;
    }
    span { // Waterloo, Ontario...
      padding-top: 10px;
      color: #888;
    }
  }
  h1, h2, span {
    padding: 0 5px;
    margin: 0;
  }
}

