#menu {
  // heading (AMMCS-CAIMS 2015)
  .pure-menu-heading {
    background: black;
    color: $ammcs-blue;
  }

  border-right: 1px solid #ccc;

  ul li {
    a {
      font-size: 14px;
      color: #444;
    }
    &.pure-menu-selected {
      background: #ddd;
    }
  }

  /***** everything below this line are google widget styles *****/
  #google_translate_element {
    padding: 8px 4px;
    a {
      display: inline !important;
    }
  }
  form.googlesearch {
    padding: 8px 4px;
    * {
      display: inline;
    }
    input {
      width: 70%;
      height: 20px;
      font-size: 12px;
      border: 1px solid #999;
      padding: 3px 6px;
      outline: none;
      &:focus {
        border: 1px solid $ammcs-blue;
      }
    }
    button {
      width: 20%;
      border: none;
      height: 28px;
      background: black;
      color: $ammcs-blue;
      &:hover {
        background: #333;
      }
    }
  }
}
