{% extends 'layout.html' %}
{% block body %}


<h1>AMMCS-2013 Conference Flyers</h1>
<p>Download Conference Brochure, Flyer and Poster</p>
<ul>
  <li><a href="http://www.ammcs2013.wlu.ca/ammcs-pdf/AMMCS2013-Brochure.pdf">AMMCS-2013 Conference Brochure</a></li>
  <li><a href="http://www.ammcs2013.wlu.ca/ammcs-pdf/AMMCS2013-Calls-for-Abstracts-SS-MS.pdf"> Call for Abstracts and Minisymposia </a></li>
  <li><a href="http://www.ammcs2013.wlu.ca/ammcs-pdf/AMMCS2013-Flyer.pdf">Flyer of the AMMCS-2013 Conference</a></li>
  <li><a href="http://www.ammcs2013.wlu.ca/ammcs-pdf/AMMCSFields-Flyer.pdf">AMMCS-2013 Fields Institute Poster</a></li>
</ul>


{% endblock %}
