{% extends 'layout.html' %}
{% set active_page = 'conference-program' -%}
{% block body %}

<h1> Conference Programs </h1>

<p><a href="/AMMCS-2013-Conference-Program-Online.pdf"> Conference Program is now available.</a></p>
<p> Please also see: </p>
<ul>
  <li><a href="http://www.ammcs2013.wlu.ca/ammcs-pdf/Page1-Instructions_for_speakers.pdf">Instructions for Speakers </a></li>
  <li><a href="http://www.ammcs2013.wlu.ca/ammcs-pdf/Page2-Instructions_for_Posters.pdf">Instructions for Poster Presenters</a></span></li>
  <li><a href="http://www.ammcs2013.wlu.ca/ammcs-pdf/Page3-Instructions_for_Session_Chairs.pdf">Instructions for Session Chairs</a></li>
</ul>
<hr>
<p> The Book of Abstracts will be available soon. </p>        


{% endblock %}
