{% extends 'layout.html' %}
{% set active_page = 'deadlines-payment' -%}
{% block body %}

<h1>Deadlines and Registration Fees</h1>

<p><b>Registration for the conference is open: </b><a href="https://events.mylaurier.ca/current.htm"> Please follow this
link</a>.

<ul>
<li> Deadline for minisymposia/special sessions proposals: February 15, 2013.</li>
<li>Deadline for <a href="http://www.ammcs2013.wlu.ca/submit-abstract.html">submissions of abstracts</a>: April 15, 2013.</li>
<li>Decision on abstracts: April 30, 2013.</li>
<li>Early Bird Registration: May 15, 2013.</li>
<li>Deadline for author registration: May 15, 2013.</li>
<li>Publication of full program: June 30, 2013.</li>
</ul>

<p>Early bird registration fees are as follows:
<ul>
<li>Regular participant: $270</li>
<li>Postdoctoral fellow: $100</li>
<li>Students: $50</li>
<li>Accompanying person: $50</li>
<li>Conference banquet (to be held on Thursday): $50</li>
</ul>
</p>

<p>Please note that:</p>
<ol>
<li>After May 15, 2013 the registration fees increase by $50 in each of the above four categories of participants.</li>
<li>IMPORTANT: To be included in the program, all authors presenting their papers at the conference should register before the author registration deadline (May 15, 2013).</li>
<li>For minisymposia/special session organizers and plenary speakers registration fees are waived.</li>
<li>Full refund of registration fees can be made only prior to May 31, 2013 and 50% refund until June 15, 2013 (minus credit card surcharge, the conference treasurer can be contacted at t-ammcs2013@wlu.ca). No refund can be made after this date.</li>
<li>Payments can be made by credit card. Please follow this <a href="https://events.mylaurier.ca/current.htm">link</a> to register and pay your registration fees.</li>
</ol>



{% endblock %}
