<!doctype html>
<html>
  <head>
    <title>AMMCS-CAIMS 2015</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css">
    <link href="/static/styles/styles.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>

    <header class="pure-g">
      <div class="ammcs-logo pure-u-1-2"></div>
      <div class="ammcs-title pure-u-1-2">
        <h2>International Conference</h2>
        <h1>AMMCS-CAIMS 2015</h1>
        <span>Waterloo, Ontario, Canada</span> &#8226; <span>August 26-30, 2015</span>
      </div>
    </header>

    <div class="container">
      <nav role="navigation">
        <ul>
          {% set active_page = active_page|default('index') -%}
          {% for page, route in pages.items() %}
          <li {% if route == active_page %} class="active"{% endif %}>
            <a href="/{{ route }}">{{ page }}</a>
          </li>
          {% endfor %}
        </ul>
      </nav>

      <main>
        {% block body %}
        {% endblock %}
      </main>
    </div>

  </body>
</html>
