<!doctype html>
<html>
  <head>
    <title>AMMCS-CAIMS 2015</title>
    <link href="/static/styles/styles.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1>International Conference: AMMCS-CAIMS 2015</h1>
      <h2>Waterloo, Ontario, Canada, August 26-30, 2015</h2>
    </header>
    <ul id="nav">
      {% for page in pages %}
      <li>
        <a href="/{{ pages[page] }}">{{ page }}</a>
      </li>
      {% endfor %}
    </ul>
    <main>
      {% block body %}
      {% endblock %}
    </main>
  </body>
</html>
